@import "styles/base.scss";

.connect_metamask_modal {
  .metamask_button_top {
    font-size: 18px;
    position: relative;
    background-color: #006eff !important;
    color: white;
    padding: 0px;
    line-height: 24px;
    margin-top: 12.5px;
    min-width: 250px !important;
    height: 40px !important;
    border-radius: 16px;
    margin-right: 30px;

    @include mq($until: small) {
      margin-top: 12px;
      min-width: 150px;
      margin-right: 18px;
    }

    &_img {
      height: 24px;
      padding-right: 8px;
      margin-bottom: -7px;
    }
  }

  .metamask_button_mobile {
    @include mq($from: small) {
      display: none;
    }
  }

  &_element {
    margin: -68px 0 50px -40px;
  }
}