@import 'styles/base.scss';

.lower {
  padding: 28px;
  border: 1px solid rgba(42, 42, 42, 1);
  border-radius: 16px;
  width: 285px;
  min-width: 285px;
  display: flex;
  flex-direction: column;
  height: fit-content;

  .lower_value {
    display: flex;
    align-items: center;
    justify-content: center;

    .DG_value {
      font-family: Larsseit-Bold;
      font-size: 41px;
      margin-right: 12px;
      margin-bottom: 0;

      &.no_margin {
        margin-right: 0;
      }
    }

    img {
      width: 40px;
      height: 40px;
    }
  }

  .price {
    font-family: Larsseit-Bold;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 16px;
  }

  .claim_DG {
    margin-top: 0;
    margin-bottom: 14px;
  }

  .lower_header {
    font-family: Larsseit-Bold;
    font-size: 20px;
    text-align: center;
  }

  .lower_header_two {
    font-family: Larsseit-Bold;
    font-size: 20px;
  }

  .lower_img {
    width: 175px;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 14px;
  }

  .apy_text {
    font-family: Larsseit-Regular;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 0px;
  }

  .stake_text {
    font-family: Larsseit-Regular;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-bottom: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  .apy_percent {
    font-family: Larsseit-Bold;
    font-size: 54px;
    text-align: center;
    margin-bottom: -20px;
    margin-top: -4px;

    abbr {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      top: -40px;
    }
  }

  .lower_text {
    font-family: Larsseit-Regular;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }

  .lower_button {
    margin-top: 20px;
    width: 100%;
    background: #006eff;
    color: white;
    border-radius: 10px;
    height: 40px;
    font-family: Larsseit-Bold;
    font-size: 14px;
  }

  .lower_button {
    background: rgb(31, 31, 31);
    color: white;

    &:hover,
    &:focus,
    &:active {
      color: white;
      background: rgb(31, 31, 31);
      filter: brightness(0.9) !important;
    }
  }
}

.panel {
  width: 534px;
  min-width: 534px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;

  .contract_div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;

    .content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 60px;
      border: 1px solid #2a2a2a;
      border-radius: 16px;

      img {
        width: 25px;
      }

      .dg_input {
        font-family: 'Larsseit-Bold';
        font-size: 24px;
        letter-spacing: 0.5px;
        background: transparent;
        border: none;
        margin-left: 5px;
        text-align: left;
        color: rgb(255, 255, 255) !important;
      }

      input:focus-visible {
        border: none;
        outline: none;
      }

      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type='number'] {
        -moz-appearance: textfield;
      }
    }

    .max_button {
      position: absolute;
      right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 35px;
      padding: 5px;
      background: #1f1f1f;
      border-radius: 8px;
      font-family: 'Larsseit-Light';
      letter-spacing: 0.8px;
      color: #ffffff;
      transition: 0.2s ease-in;

      &:active,
      &:focus {
        color: #ffffff;
        background: #1f1f1f;
        opacity: 1;
        transition: 0.2s ease-in;
      }

      &:hover {
        color: #ffffff;
        background: #1f1f1f;
        opacity: 0.6;
        transition: 0.2s ease-in;
      }
    }

    .description {
      position: absolute;
      top: 70px;

      h4 {
        font-family: 'Larsseit-Regular';
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 2px;
      }

      h4.success {
        color: #67dd6c !important;
      }

      h4.error {
        color: #ffb5b5 !important;
      }

      h4.active {
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.5px;
        color: #67dd6c !important;
        margin-bottom: 2px;
      }

      p {
        text-align: center;
        font-size: 9px;
        line-height: 12px;
        color: rgba(255, 255, 255, 0.5) !important;
      }
    }
  }

  .button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 55px;

    .button,
    .button_blue {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 42px;
      padding: 5px;
      margin-right: 0px;
      background: #1f1f1f;
      border-radius: 8px;
      font-family: 'Larsseit-Light';
      letter-spacing: 0.8px;
      color: #ffffff;
      transition: 0.2s ease-in;

      img {
        width: 22px;
        margin-right: 10px;
        margin-top: -1px;
        background: transparent;
      }

      .arrowIcon {
        width: 12px;
        margin-left: 8px;
      }

      .nextIcon {
        width: 15px;
        margin-left: 8px;
      }

      &:active,
      &:focus {
        color: #ffffff;
        opacity: 1;
        transition: 0.2s ease-in;
      }

      &:hover {
        color: #ffffff;
        opacity: 0.6;
        transition: 0.2s ease-in;
      }
    }

    .button_blue {
      background: #006eff;
    }
  }
}

.type_div {
  display: flex;
  justify-content: center;
  border: 1px solid #1f1f1f;
  border-radius: 24px;
  padding: 3px;
  margin-top: 12px;
  margin-bottom: 20px;
  max-width: 180px;

  div {
    font-family: 'Larsseit-Medium';
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    background: transparent;
    width: 80px;
    padding: 4px;
    margin: 2px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.2s ease-in;

    &:hover {
      background: #1f1f1f;
      transition: 0.2s ease-in;
    }
  }

  .active {
    background: #1f1f1f;
  }
}

.blue_container {
  margin: 0px auto 40px auto;
  padding: 36px 40px;
  background: #1f1f1f;
  border-radius: 20px;
  width: 534px;
  display: flex;
  position: relative;

  .close_button {
    width: 34px;
    height: 34px;
    background: rgba(31, 31, 31, 1);
    border-radius: 100%;
    padding: 9px 10px 8px 10px;
    line-height: 18px;
    top: 16px;
    right: 16px;
    box-shadow: 0px 13.6px 27.2px rgba(0, 0, 0, 0.24);
    position: absolute;

    &:hover {
      cursor: pointer;
    }
  }

  .blue_text {
    display: flex;
    flex-direction: column;
    width: 50%;

    .blue_header {
      font-family: Larsseit-Bold;
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 0px;
    }

    .blue_lower {
      font-family: Larsseit-Regular;
      font-size: 12px;
      line-height: 20px;
      margin-top: 8px;
      margin-bottom: 16px;
    }
  }
  .button {
    font-family: Larsseit-Bold;
    font-size: 16px;
    color: white;
    border-radius: 14px;
    height: 48px;
    width: fit-content;
    transition: 0.2s ease-in !important;

    &:active,
    &:focus {
      opacity: 1;
      filter: none !important;
      transition: 0.2s ease-in;
      color: white;
    }

    &:hover {
      opacity: 0.6;
      filter: none !important;
      transition: 0.2s ease-in;
      color: white;
    }
  }

  .grey {
    background: rgba(36, 39, 49, 1);

    &:active,
    &:focus {
      background: rgba(36, 39, 49, 1);
    }

    &:hover {
      background: rgba(36, 39, 49, 1);
    }
  }

  .blue {
    background: #006eff;
    margin-right: 12px;

    &:active,
    &:focus {
      background: #006eff;
    }

    &:hover {
      background: #006eff;
    }
  }

  .blue_img {
    width: 50%;
    height: 140px;
    object-fit: cover;
    position: relative;
    top: 20px;
  }
}

.left_panel {
  border-right: 1px solid #2a2a2a;
  padding-bottom: 200px;

  @include mq($until: extra-large) {
    padding-bottom: 100px;
  }
}

.no_border {
  border: none;
}

.welcome_text {
  font-family: Larsseit-Light;
  margin-bottom: 0;
  font-size: 20px;
  line-height: 32px;

  @include mq($until: extra-large) {
    text-align: center;
  }
}

.welcome_content {
  font-family: Larsseit-Bold;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 40px;

  @include mq($until: extra-large) {
    text-align: center;
  }
}

.staked_label {
  font-family: Larsseit-Regular;
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5) !important;
  margin-bottom: 0;
}
