.DS_Store
.env
.env.local
Dockerfile
docker-compose.yml
.dockerignore
.git
# Include git hooks in Docker build for successful compilation
!.git/hooks
.github
.gitignore
.next
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json