@import 'styles/base.scss';

.open_button {
  margin-top: 20px !important;
  width: 100%;
  background: #006eff !important;
  color: white !important;
  border-radius: 10px !important;
  height: 40px;
  line-height: 18px;
  font-family: Larsseit-Bold;
  font-size: 14px;
  width: 100%;
}

.withdraw_modal {
  width: 440px !important;
  height: 396px !important;
  background: black !important;
  border-radius: 24px !important;
  padding: 40px;
  transform: scale(0.9);

  .close_icon {
    cursor: pointer;
    position: absolute;
    left: 0px;
    top: -50px;
    background: #000000;
    border-radius: 24px !important;

    .button_close {
      display: flex;
      justify-content: center;
      align-items: center;

      color: white;
      cursor: pointer;
      width: 36px;
      height: 36px;
      background: black;
      border-radius: 100%;
      padding: 8px 10px 8px 10px;
    }
  }
  
  .upgrade_container {

    .header {
      font-family: Larsseit-ExtraBold;
      font-size: 32px;
      margin-bottom: 8px;
    }

    .description {
      font-size: 18px;
      line-height: 24px;
      font-family: Larsseit-Regular;
      margin-top: 0px;
      margin-bottom: 48px;
    }

    .proceed_button {
      width: 100%;
      background: #006eff !important;
      color: white !important;
      border-radius: 10px !important;
      height: 64px;
      line-height: 18px;
      font-family: Larsseit-Bold;
      font-size: 22px;
      width: 100%;
    }

    .upgrade_inner_container {
      max-width: 326px;
      margin: auto;

      .upgrade_area {
        display: flex;
        padding-top: 8px;
        margin-bottom: 28px;

        .upgrade_right {
          margin-left: 26px;
          margin-top: -14px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .upgrade_top_text {
            font-family: Larsseit-Bold;
            font-size: 24px;
            margin-bottom: 0px;
          }

          .upgrade_bottom_text {
            font-family: Larsseit-Bold;
            font-size: 18px;
          }
        }
      }
    }
  }
}

