/* ----------------------------------------- */

/*               GLOBAL FONTS                */

/* ----------------------------------------- */

@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('public/static/fonts/Larsseit/Larsseit5.ttf');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('public/static/fonts/Larsseit/Larsseit16.otf');
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('public/static/fonts/Larsseit/Larsseit2.ttf');
}

@font-face {
  font-family: 'Larsseit-Regular';
  src: url('public/static/fonts/Larsseit/Larsseit13.ttf');
}

@font-face {
  font-family: 'Larsseit-Light';
  src: url('public/static/fonts/Larsseit/Larsseit4.ttf');
}

.popup {
  border-radius: 8px !important;
  margin-left: 5px;
}

.popup:before {
  position: absolute;
  content: '';
  width: .71428571em;
  height: .71428571em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-box-shadow: 1px 1px 0 0 #bababc;
  box-shadow: 1px 1px 0 0 #bababc;
  background: #fff;
}

.popup .content .info {
  width: 17px !important;
  position: absolute !important;
}

.popup .accountTooltip .tooltip_body {
  display: flex;
  align-items: center;
  font-size: 1px;
  line-height: 18px;
  letter-spacing: 0.5px;
  /* margin-left: 30px; */
  /* background-color:red; */

}
.popup .accountTooltip .tooltip_body p{
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.5px;
  margin-left: 30px;
  font-family: 'Larsseit-Medium';
}
