/* ----------------------------------------- */

/*               GLOBAL FONTS                */

/* ----------------------------------------- */

@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('public/static/fonts/Larsseit/Larsseit5.ttf');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('public/static/fonts/Larsseit/Larsseit16.otf');
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('public/static/fonts/Larsseit/Larsseit2.ttf');
}

@font-face {
  font-family: 'Larsseit-Regular';
  src: url('public/static/fonts/Larsseit/Larsseit13.ttf');
}

@font-face {
  font-family: 'Larsseit-Light';
  src: url('public/static/fonts/Larsseit/Larsseit4.ttf');
}



img.avatar-picture-home {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: linear-gradient(162deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, #006eff 40.1%, #006eff 100%);
}

img.avatar-picture-binance {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: linear-gradient(162deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 40%, #f1cd50 40.1%, #f1cd50 100%);
}

.ui.bottom.right.popup.transition.visible.account-popup {
  width: 360px;
  height: 100%;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: #1f1f1f;
  padding: 30px;
  margin-top: 15px;
  border: 0px solid white;
  transform: scale(0.9);
}

.account-address {
  font-size: 18px;
  opacity: 0.5;
  padding-left: 8px;
  margin-top: -4px !important;
}

.ui.button.casino-balance-button {
  height: 54px;
  width: 300px;
  border-radius: 12px;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.15);
  background: transparent;
  margin-top: 8px;
  padding: 12px 24px 12px 24px;
  transition: all linear 0.1s;
}

.ui.button.casino-button {
  margin-top: 20px;
  width: 100%;
  background: #006eff;
  color: white;
  border-radius: 10px;
  height: 40px;
  line-height: 18px;
  font-family: Larsseit-Bold;
  font-size: 14px;
  width: 100%;
}

.ui.button.casino-button:hover, .ui.button.casino-button:focus {
  background-color: #006eff;
  filter: brightness(0.9) !important;
}

.ui.button.casino-balance-button:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  transition: all linear 0.1s;
}

.casino-balance-text {
  float: left !important;
  font-size: 18px !important;
  line-height: 24px !important;
  font-family: Larsseit-Bold !important;
}

.casino-balance-text.two {
  float: right;
  font-size: 16px !important;
  font-family: Larsseit-Bold !important;
}

.ui.button.account-deposit-button {
  height: 54px;
  width: 47.5%;
  border-radius: 12px;
  background: #006eff;
  color: white;
  font-size: 18px !important;
  padding-top: 17px;
}

.ui.button.account-deposit-button.binance {
  height: 54px;
  width: 48.5%;
  border-radius: 12px;
  background: #f1cd50;
  color: black;
  font-size: 18px !important;
  padding-top: 17px;
}

.ui.button.modal-button {
  height: 48px;
  width: 48.5%;
  border-radius: 12px;
  background: #006eff;
  color: white;
  font-size: 16px;
}

.ui.button.modal-learn-button {
  height: 48px;
  width: 48.5%;
  border-radius: 12px;
  background: white;
  color: black;
  font-size: 16px;
}

.ui.button.account-withdraw-button {
  height: 54px;
  width: 47.5%;
  border-radius: 12px;
  background: #2b2b2b;
  color: white;
  font-size: 18px !important;
  padding-top: 17px;
}

.account-dropdown-item {
  font-size: 20px !important;
  font-family: Larsseit-Medium !important;
  margin: 0;
  padding-top: 16px;
  transition: all linear 0.1s;
}

.account-dropdown-item:hover {
  cursor: pointer;
  opacity: 70%;
  transition: all linear 0.1s;
}

.account-copy {
  margin-bottom: 12px;
}

.account-address:hover {
  cursor: pointer;
  color: white !important;
  transition: all linear 0.1s;
  opacity: 1;
}

.account-address:hover .svg {
  opacity: 0.1;
}

.account-address:hover>i.clone.outline.icon {
  cursor: pointer;
  color: white !important;
  transition: all linear 0.1s;
}

.ui.button.buy-dg-button {
  height: 64px;
  width: 100%;
  border-radius: 12px;
  background: #006eff;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding-top: 21px;
  line-height: 20px;
}

.copied-toast {
  text-align: center;
  background-color: #1f1f1f;
  position: fixed;
  bottom: 60px;
  left: calc(50% - 165px);
  width: 330px !important;
  height: 75px;
  border-radius: 32px;
}

.copied-text {
  color: white;
  font-size: 24px !important;
  font-weight: 700;
  padding-top: 19px;
}
