/* ----------------------------------------- */

/*               UNIVERSAL CSS               */

/* ----------------------------------------- */

body::-webkit-scrollbar-track {
  background-color: transparent;
  transition: 0.2s ease-in;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  transition: 0.2s ease-in;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s ease-in;
}

body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  background-size: 5px 20px;
  transition: 0.2s ease-in;
  border-radius: 36px;
}

.scrolling.dimmable.dimmed {
  overflow: hidden !important;
  margin-right: -15px !important;
}

img.react-parallax-bgimage {
  object-fit: cover;
}

.ui.checkbox {
  margin-top: 4px;
  margin-right: 24px;
}

.ui.checkbox .box:before, .ui.checkbox label:before {
  border: 2px solid white;
  border-radius: 6px;
  width: 24px;
  height: 24px;
  background: transparent;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before, .ui.checkbox .box:hover::before, .ui.checkbox label:hover::before, .ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
  background-color: transparent !important;
  border: 2px solid white;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after {
  border-radius: 6px;
  width: 24px;
  height: 24px;
  padding-top: 3px;
  font-size: 14px;
  background: #0d6efd;
  color: white !important;
}

section#modalContent.sc-bqGGPW.jMpqDL, .iPexDg.iPexDg.iPexDg, .jMpqDL.jMpqDL.jMpqDL {
  background-color: black !important;
}

h1, h2, h3, h4, h5, p, button, a {
  -webkit-font-smoothing: antialiased !important;
}

@font-face {
  font-family: 'Larsseit-ExtraBold';
  src: url('public/static/fonts/Larsseit/Larsseit5.ttf');
}

@font-face {
  font-family: 'Larsseit-Bold';
  src: url('public/static/fonts/Larsseit/Larsseit16.otf');
}

@font-face {
  font-family: 'Larsseit-Medium';
  src: url('public/static/fonts/Larsseit/Larsseit2.ttf');
}

@font-face {
  font-family: 'Larsseit-Regular';
  src: url('public/static/fonts/Larsseit/Larsseit13.ttf');
}

@font-face {
  font-family: 'Larsseit-Light';
  src: url('public/static/fonts/Larsseit/Larsseit4.ttf');
}

h1 {
  font-family: 'Larsseit-ExtraBold';
  font-weight: 800 !important;
  font-size: 60px;
  margin-bottom: 0px;
  line-height: 1.2;
}

h2 {
  font-family: 'Larsseit-ExtraBold';
  font-weight: 800 !important;
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 1.4;
}

h3 {
  font-family: 'Larsseit-ExtraBold';
  font-weight: 800 !important;
  font-size: 32px;
  margin-bottom: 0px;
  line-height: 1.4;
}

.nft-other-h3 {
  font-family: 'Larsseit-Bold';
  font-size: 24px;
  margin-top: 0px;
}

.home-other-h3 {
  font-family: 'Larsseit-Bold';
  font-size: 30px;
  padding: 2px 0px 3px 0px;
  margin-top: 0px;
  text-align: center;
}

h4 {
  font-family: 'Larsseit-ExtraBold';
  font-weight: 800 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.4;
}

h5 {
  font-family: 'Larsseit-Regular';
  font-weight: 600 !important;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.4;
}

p {
  font-family: 'Larsseit-Regular';
  font-size: 21px;
  font-weight: normal;
  line-height: 1.4;
}

.modal-a:hover {
  color: white;
  filter: brightness(0.75);
}

.account-hover {
  font-family: 'Larsseit-Medium';
  font-size: 18px !important;
  cursor: pointer;
  margin-left: 32px !important;
  margin-right: 32px !important;
  padding: 0px 6px 0px 6px;
  color: rgb(92, 95, 97);
  margin-top: 18px;
}

.ui.button {
  font-family: 'Larsseit-Bold';
  border-radius: 16px;
  transition: 0.2s ease-in !important;
}

.ui.divider:not(.vertical):not(.horizontal) {
  border-bottom: 0px !important;
}

.grid-margin {
  margin-left: 1em !important;
}

.ui.segment {
  border: none !important;
}

.ui.column.grid>[class*='sixteen wide'].column, .ui.grid>.column.row>[class*='sixteen wide'].column, .ui.grid>.row>[class*='sixteen wide'].column, .ui.grid>[class*='sixteen wide'].column {
  border-radius: 4px;
}

.account-other-inner-p {
  min-height: calc(100vh - 250px);
}

.nft-other-p {
  font-family: Larsseit-Regular;
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}


/* ----------------------------------------- */

/*              DATA TABLE CSS               */

/* ----------------------------------------- */

.earned-amount#treasury-breakdown {
  padding: 14px 18px 0px 18px !important;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.ui.table {
  margin-top: 0px;
  border: 0px solid white !important;
  background: black;
}

.ui.table td {
  padding: 15px;
}

td:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  height: 68px;
}

td:last-child {
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
}

.ui.table thead th {
  font-weight: 700 !important;
  background: black !important;
  border: 0px solid white !important;
  padding: 12px 18px 15px 18px;
  font-size: 18px;
  color: rgba(255, 255, 255);
  margin-bottom: 0px;
}

.ui.table thead th.leaderboard-header {
  font-size: 20px;
  font-family: Larsseit-Bold;
  text-transform: capitalize;
}

.ui.table thead {
  position: relative;
  z-index: 1;
}

.ui.table tr td {
  border: 0px solid white !important;
}

.tx-box-overflow {
  max-height: 600px !important;
  overflow-y: scroll;
  margin-bottom: 90px;
  border: 0px solid #edf2f9 !important;
  border-radius: 8px !important;
}

.leaders-col-2 {
  display: flex;
  justify-content: flex-end;
}

.ui.table thead th, .ui.table thead th:only-child {
  position: sticky;
  top: 0px;
}

.ui.table tr td {
  font-weight: 700 !important;
  border: 0px solid white !important;
  padding: 15px 18px 15px 18px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0px;
}

.ui.table tr td.leaders-col-1 {
  padding-top: 18px !important;
  padding-bottom: 14px !important;
}

.ui.table tr td.leaders-col-2 {
  padding-top: 18px !important;
  padding-bottom: 17px !important;
}


.foxAnimation-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foxAnimation-div .title {
  max-width: 270px;
  margin-top: 25px;
  font-family: 'Larsseit-Bold';
  font-size: 20px;
  text-align: center;
}


/* ----------------------------------------- */

/*                BINANCE CSS                */

/* ----------------------------------------- */

.ui.button.account-button {
  padding-right: 16px;
  padding-left: 16px;
  height: 48px;
  /* margin-top: 12px; */
  background-color: #1f1f1f;
  border-radius: 16px;
  color: white;
  margin-right: 16px;
  font-size: 18px !important;
  transition: 0.2s ease-in;
}

.ui.button.account-button:hover {
  opacity: 0.6;
  background-color: #1f1f1f;
  color: white !important;
  filter: none !important;
  transition: 0.2s ease-in;
}

.right-menu-text.bnb {
  line-height: 0px;
  padding-top: 1px;
}


.slick-slider .slick-arrow {
  background-color: #006eff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  transition: 0.2s ease-in;
}

.slick-slider .slick-arrow:hover {
  background: #006eff;
  transition: 0.2s ease-in;
}

.slick-slider .slick-arrow.slick-disabled {
  display: none;
}

.slick-slider .slick-arrow.slick-prev {
  left: 25px;
  content: "\e824" !important;
  font-family: revicons;
}

.slick-slider .slick-arrow.slick-prev img {
  position: relative;
  width: 8px;
  left: -1px;
  transform: rotate(180deg) !important;
}

.slick-slider .slick-arrow.slick-prev::before {
  content: "\e824" !important;
  font-family: revicons;
  display: none;
}

.slick-slider .slick-arrow.slick-next {
  right: 45px;
}

.slick-slider .slick-arrow.slick-next img {
  position: relative;
  width: 8px;
  left: 2px;
}

.slick-slider .slick-arrow.slick-next::before {
  content: "\e825" !important;
  font-family: revicons;
  display: none;
}

@media (max-width: 31.1875em) {
  .slick-slider .slick-arrow {
    display: none;
  }
}
