@import 'styles/base.scss';

.dg_content_mining_container {
  .dg_flex_justify_content_center {
    width: 50%;
  }

  .dg_column_unclaimed {
    max-height: 100%;

    .earned_amount {
      padding-top: 2px;
    }

    .dg_balance_loader {
      font-size: 12px;
      margin-top: 5px;
      margin-left: -1px;
      margin-bottom: -2px;
    }

    .dg_column_total_usd {
      display: flex;
      justify-content: space-between;
      padding-bottom: 3px;
    }

    .dg_flex_space_between {
      padding-bottom: 3px;
    }

    .welcome_text {
      padding-left: 0px;
    }
  }

  .mining_container_outter {
    .dg_column_treasury_two {
      position: relative;
      height: 100%;
    }
    
    .dg_column_treasury_three {
      position: relative;
      height: 100%;
    }

    .earned_text {
      color: rgba(255,255,255,.55) !important;
    }
    
    .earned_amount {
      padding-top: 2px;
    }

    .dg_play_now_button {
      color: white;
      background-color: #006eff;
      min-width: 100%;
      border-radius: 4px;
      height: 36px;
      line-height: 10px;
      font-size: 16px;
    }
  }

  .divider_dg_top {
    width: calc(100%);
  }
}