@import 'styles/base.scss';

.main_container {
  min-height: calc(100vh - 220px);
  font-family: 'Larsseit-ExtraBold';

  @include mq($until: small) {
    padding-bottom: 60px;
  }

  .page_container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;

    padding: 0px 30px 120px 30px;

    @include mq($until: small) {
      padding: 0px 21px 120px 21px;
    }

    .custom_events {
      .account_other_tabs {
        margin-top: 30px;
        margin-bottom: -16px;
        padding: 15px 0px 30px 0px;
        color: black;
        text-align: center;
        display: flex;
        width: 100%;
        overflow: auto;
        scroll-behavior: smooth;
        position: relative;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;

        &::-webkit-scrollbar {
          display: none;
        }

        .title {
          font-size: 24px;
          color: white;
          margin-top: 67px;

          @include mq($until: medium) {
            margin-top: 30;
          }
        }

        .countdown {
          font-size: 24px;
          color: white;
          margin-top: 67px;

          @include mq($until: medium) {
            margin-top: 30;
          }
        }

        .all_events {
          font-size: 24px;
          color: white;
          float: left;
          margin-top: 20px;
        }
      }

      .nft_container {
        margin-top: 21px;
        display: flex;
        flex-direction: column;
        margin-bottom: 6px;
        min-height: 100%;

        &:hover {
          transform: translateY(-1px);
          box-shadow: rgb(18 38 63 / 15%) 0px 0px 8px 0px;
          transition: all 0.1s ease 0s;
        }

        & > div {
          border-radius: 20px;
          overflow: hidden;
        }

        .featured_event_grid {
          display: flex;
          flex-direction: row;
          border-radius: 14px;
          overflow: hidden;
          max-height: 420px;

          @include mq($until: medium) {
            flex-direction: column;
            max-height: 600px;
          }
        }

        .divider {
          margin: 10px 0px 15px 0px;
          width: calc(100% + 60px);
          margin-left: -30px;
        }
      }

      .post_info {
        padding: 30px 22px;
        display: flex;
        flex-direction: column;
        width: 33.33%;

        &.featured {
          padding-top: 20px;
          background: #1f1f1f;
          border-radius: 0 14px 14px 0;

          @include mq($until: medium) {
            width: 100%;
            border-radius: 0 0 14px 14px;
          }
        }

        .featured_info {
          line-height: 18px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: bold;
          color: rgba(255, 255, 255, 0.75);

          @include mq($until: medium) {
            justify-content: center;
            margin-top: 0px;
          }
        }

        .events_featured_p {
          text-align: left;
          line-height: 25px;
          font-size: 18px;
          margin-top: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .button_group {
          display: flex;
          justify-content: space-between;
          margin-top: auto;

          & > button,
          & > a {
            width: calc(50% - 8px);
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            line-height: 30px;
            height: 58px;
          }
        }
      }

      .nft_button {
        position: relative;
        background-color: #006eff;
        color: white;
        font-size: 18px;
        border-radius: 12px;
        display: flex;
      }

      .nft_description {
        background: #1f1f1f;
        height: 350px;
        padding: 20px 25px 25px 25px;
        display: flex;
        flex-direction: column;

        & > span {
          font-size: 14px;
          text-transform: uppercase;
          line-height: 20px;
          font-weight: 700;
          color: rgba(255, 255, 255, 0.75);
        }

        .event_title {
          font-size: 24px;
          line-height: 32px;
          margin-top: 6px;
          margin-bottom: 6px;
        }
      }

      .nft_read_button {
        background-color: #2a2a2a;
        border: none;
        color: white;
        width: 100%;
        font-size: 18px;
        height: 55px;
        line-height: 27px;
        border-radius: 12px;
      }

      .event_title {
        font-family: 'Larsseit-ExtraBold';
        font-weight: 800;
        font-size: 24px;
        line-height: 32px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 68px;

        &.featured {
          font-size: 24px;
          font-weight: 700;
          margin-top: 8px;
          text-align: left;
          min-height: auto;
        }

        @include mq($until: medium) {
          &.featured {
            text-align: left;
          }
        }
      }

      .event_description {
        text-align: left;
        display: -webkit-box;
        font-size: 18px;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .nfts_info {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1.5px;
        border-radius: 4px;
        margin-bottom: 14px;
      }

      .event_pic {
        z-index: 1;
        object-fit: cover;
        width: 100%;
        height: 200px;

        &.featured {
          width: 66%;
          height: auto;
          border-radius: 14px 0 0 14px;

          @include mq($until: medium) {
            width: 100%;
          }
        }

        @include mq($until: medium) {
          width: 100%;
          height: 100%;
        }

        @include mq($until: small) {
          width: 100%;
          height: 100%;
        }
      }

      .leaderboard_column {
        min-width: 33.33%;

        .nft_container {
          margin-top: 0;
        }

        @include mq($from: medium) {
          width: 100%;
        }
      }
    }
  }
}
