@import 'styles/base.scss';

.coming_events_container {
  .page_container {
    padding: 0 30px 120px 30px;

    @include mq($until: small) {
      padding: 0 21px 120px 21px;
    }
  }

  .content_event_title {
    margin: 100px 0 0 0;
    font-size: 24px;
    font-family: 'Larsseit-ExtraBold';
    color: white;
  }

  .nft_other_h3 {
    font-family: 'Larsseit-ExtraBold';
    font-weight: 800;
    font-size: 32px;
    line-height: 1.4;

    &_featured {
      padding-bottom: 9px;
      padding-top: 9px;
    }

    &_countdown2 {
      margin: 107px 0 0 10px;
      font-size: 24px;
      font-family: 'Larsseit-ExtraBold';
      color: white;
  
      &.featured {
        text-align: center;
      }
    }
  }

  .my_nft_container {
    background-color: #1f1f1f;
    margin: 21px 0 6px 0;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    min-height: 100%;

    &:hover {
      transform: translateY(-1px);
      box-shadow: rgb(18 38 63 / 15%) 0 0 8px 0;
      transition: all 0.1s ease 0s;
    }
  }
  
  .featured_event_grid {
    display: flex;
    flex-direction: row;
    border-radius: 24px;

    @include mq($until: extra-large) {
      flex-direction: column;
    }
  }

  .events_featured_p {
    text-align: center;
    line-height: 1.3;
    padding-top: 3px;
  }

  .events_featured_button {
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 39px;
  }

  .events_featured_divider {
    margin: 10px 0 15px 0;

    @include mq($until: extra-large) {
      margin: 10px 0 15px -19px;
      width: calc(100% + 38px);
    }
  }

  .event_pic {
    border-radius: 4px 4px 0 0;

    @include mq($until: small) {
      width: 100%;
      height: 100%;
    }

    &_featured {
      @include mq($until: extra-large) {
        width: 100%;
        height: 100%;
        border-radius: 24px 24px 0 0;
      }
  
      z-index: 1;
      object-fit: cover;
      width: 60%;
      border-radius: 24px 0 0 24px;
    }
  }

  .featured_info {
    display: flex;
    margin-top: 3px;

    @include mq($until: extra-large) {
      justify-content: center;
      margin-top: 0px;
    }
  }

  .nft_divider {
    margin: 10px 0 15px 0;
    width: calc(100% + 60px);
    margin-left: -30px;
  }
}