/* ----------------------------------------- */
/*             MAIN BLOG PAGE CSS            */
/* ----------------------------------------- */

.more-text {
  cursor: pointer;
}

.blog-home-container {
  max-width: 1400px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media (max-width: 499px) {
  .blog-home-container {
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
}

.featured-text,
.category-name {
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px !important;
  text-transform: uppercase;
}

.blog-date,
.blog-category,
.post-date,
.post-category {
  font-size: 12px !important;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 3px 6px 3px 6px;
  margin-right: 12px;
  margin-top: -1px !important;
  text-transform: uppercase !important;
}

a:hover {
  color: black;
}

.featured-image {
  z-index: 1;
  object-fit: cover;
  height: 360px;
  width: calc(200% / 3 - 6px);
  border-radius: 4px 0px 0px 4px;
}

.featured-blog-grid {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
}

.post-info.featured {
  padding-top: 20px;
}

@media (max-width: 991px) {
  .featured-image {
    width: 100%;
  }
  .featured-blog-grid {
    flex-direction: column;
  }
}

.category-select {
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px !important;
  margin-right: 30px;
  color: rgb(92, 95, 97);
  margin-bottom: -21px;
  margin-top: 21px;
}

.post-date,
.post-category {
  margin-bottom: 7px;
}

.posts {
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-flow: dense;
}

.post:hover,
.featured-blog-container:hover {
  transform: translateY(-2px);
  transition: transform 0.25s ease 0s;
}

.post {
  background-color: white;
  margin-bottom: 45px;
  border: 1px solid #edf2f9;
  transition: transform 0.25s ease 0s;
  border-radius: 4px;
}

.featured-blog-container {
  margin-bottom: 45px;
  transition: transform 0.25s ease 0s;
  border-radius: 4px;
}

.post-info {
  padding: 6px 18px 18px 18px;
}

a.blog-more {
  color: red;
}

@media (max-width: 1030px) {
  .blog-share-div {
    display: none !important;
  }
  .blogdetail-page-container {
    margin-top: -30px;
  }
}

.posts .post .post-image {
  cursor: pointer;
  margin-bottom: 15px;
  transition: transform 250ms ease, box-shadow 250ms ease;
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 200px;
  border-radius: 4px 4px 0px 0px;
}

.posts .post .post-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ----------------------------------------- */
/*            BLOGDETAIL PAGE CSS            */
/* ----------------------------------------- */

.blogdetail-page-container {
  max-width: 900px !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 0px !important;
  margin-bottom: -30px;
}

@media (max-width: 499px) {
  .blogdetail-page-container {
    padding-left: 21px !important;
    padding-right: 21px !important;
    margin-top: 15px;
  }
  img.blog-hero-img {
    margin-top: 33px;
  }
  .blogdetail-page-container h1 {
    margin-top: -6px !important;
    font-size: 36px !important;
    font-weight: 100 !important;
  }
  img.blog-hero-img {
    margin-top: 15px;
  }
}

img.blog-hero-img {
  width: 100vw;
  object-fit: cover;
  max-height: 420px;
  position: relative;
  z-index: 9;
}

.blogdetail-page-container h1 {
  font-size: 48px;
  font-weight: 600 !important;
  line-height: 1.15;
  margin-top: -6px;
  margin-bottom: 57px !important;
}

img.logo-image {
  margin-top: -1px;
  width: 30px !important;
}

.name {
  font-size: 14px !important;
  letter-spacing: 1.5px;
  margin-top: 3px !important;
  margin-left: 12px;
  text-transform: uppercase !important;
  color: black !important;
}

.post-date-blogdetail {
  float: right;
  font-size: 12px !important;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-color: #e5e6e8;
  padding: 3px 6px 3px 6px;
  margin-top: -33px !important;
  margin-bottom: 8px;
  text-transform: uppercase !important;
  color: black !important;
}

.post__content {
  background-color: #f9fbfd;
}

.blogdetail-page-container .post__content img {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px !important;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.date2 {
  font-size: 16px !important;
  letter-spacing: 0.5px;
  margin-top: -3px !important;
  margin-left: 18px;
  margin-right: 6px;
  text-transform: uppercase !important;
  color: rgb(92, 95, 97) !important;
}

.date3 {
  font-size: 16px !important;
  color: rgb(92, 95, 97);
}

.blogdetail-page-container .post__content p,
.summary_content {
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 20px !important;
  margin-bottom: 0;
  font-weight: normal !important;
}

.blogdetail-page-container .post__content li {
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 12px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 18px !important;
  margin-bottom: 0;
  font-weight: normal !important;
}

.blogdetail-page-container .post__content a {
  color: #2085f4;
}

.blogdetail-page-container .post__content blockquote {
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: 20px;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 20px !important;
  margin-bottom: 0;
  font-weight: normal !important;
  margin: 0px;
}

.blogdetail-page-container .post__content h6 {
  font-family: 'Lato', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  margin-top: -18px !important;
  margin-bottom: 42px !important;
  text-align: center !important;
  word-break: break-word;
  line-height: 1.7 !important;
  font-size: 14px !important;
  font-weight: normal !important;
}

.blogdetail-page-container .post__content iframe {
  width: 100%;
  height: 500px;
  border: none;
}

.blogdetail-page-container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.blogdetail-page-container .post__content ul,
.blogdetail-page-container .post__content ol {
  padding: 0px 0px 0px 12px !important;
  margin: 0px 0px 0px 0px !important;
  list-style: none;
}

.blogdetail-page-container .post__content li::before {
  content: '•';
  position: absolute;
  top: 0px !important;
  left: 0px !important;
  font-size: 18px !important;
  color: #2085f4;
}

.blogdetail-page-container ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.blogdetail-page-container .post__content ul,
.blogdetail-page-container .post__content ol {
  padding: 0;
  margin: 20px 0;
  list-style: none;
}

.blogdetail-page-container .post__content li {
  position: relative;
  padding-left: 21px;
}

.read-next-div {
  margin-top: 75px;
  margin-bottom: -30px;
  display: flex;
  justify-content: space-between;
}

.read-next-button:first-child {
  padding: 12px 18px 18px 18px;
  text-align: right;
  width: 48%;
  font-size: 18px !important;
  letter-spacing: 0.5px;
  line-height: 1.5 !important;
  text-transform: capitalize !important;
}

.read-next-button:last-child {
  padding: 12px 18px 18px 18px;
  text-align: left;
  width: 48%;
  font-size: 18px !important;
  letter-spacing: 0.5px;
  line-height: 1.5 !important;
  text-transform: capitalize !important;
}

.read-next-button:hover {
  transform: translateY(-2px) !important;
  transition: all 0.25s ease 0s !important;
}

.read-next-button:first-child:before {
  content: 'Previous     ' !important;
  margin-left: calc(100% - 82px);
  font-size: 14px;
}

.read-next-button:last-child:before {
  content: 'Next    ' !important;
  margin-right: 100%;
  font-size: 14px;
}

.ui.button.read-next-button:hover {
  filter: brightness(100%) !important;
}

@media (max-width: 660px) {
  .read-next-div {
    flex-wrap: wrap !important;
  }
  .read-next-button {
    width: 100% !important;
  }
  .read-next-button:last-child {
    margin-bottom: 30px;
    order: -1 !important;
  }
}
