/* ----------------------------------------- */
/*                 MENU CSS                  */
/* ----------------------------------------- */

#mobile-menu-icon {
  position: relative;
  color: black;
  background-color: transparent;
  top: 45px;
  left: 81px;
  z-index: 10;
  font-size: 18px !important;
}

#mobile-menu-icon-home {
  position: relative;
  color: white;
  background-color: transparent;
  top: 45px;
  left: 81px;
  z-index: 10;
  font-size: 18px !important; 
}

@media (max-width: 600px) {
  .menu-info-to-hide {
    display: none;
  }
  .menu-avatar-background {
    margin-left: -9px !important;
  }
  #add-funds-mobile-padding {
    padding-right: 15px !important;
  }
  .mobile-display-none-name {
    display: none;
  }
  #mobile-avatar-picture {
    margin-right: -6px;
  }
}

#mobile-menu-icon:hover,
#mobile-menu-icon-home:hover,
#home-menu-icon:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  .page-header-text {
    display: none !important;
  }
  .ui.blue.button.metamask-mobile-button {
    display: none;
  }
}

@media (max-width: 499px) {
  .menu-info-modal {
    width: 100vw;
    height: calc(100vh - 2em);
    top: 0;
  }
  .ui.button.modal-deposit-button {
    display: none;
  }
  .ui.button.more-dropdown-button {
    margin-right: 21px;
  }
  #menu-logo {
    margin-left: 15px;
  }
  #add-funds-mobile-padding {
    display: none;
  }
  #mobile-menu-icon,
  #mobile-menu-icon-home {
    position: relative;
    left: 72px;
  }
  #dropdown-menu-items {
    padding-left: 78px !important;
  }
  .ui.blue.button.metamask-button {
    display: none;
  }
  .ui.blue.button.metamask-mobile-button {
    background-color: #2085f4;
    position: relative;
    background-color: #2085f4 !important;
    color: white;
    font-weight: 600;
    margin-top: 18px;
    padding-top: 8px;
    min-width: 150px !important;
    padding-left: 0px;
    padding-right: 0px;
    height: 33px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    margin-right: 15px !important;
  }
  .right-menu-items.outter {
    position: absolute;
    width: 50vw;
    right: 21px;
  }
  .page-header-text {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0px;
    letter-spacing: 0.25px;
    line-height: 1.4;
    color: white;
    margin-top: -66px !important;
    position: relative;
    z-index: 6;
    width: 100px;
    margin-left: 45px;
  }
  .page-header-text.dark {
    color: black;
    margin-top: -112px !important;
    margin-bottom: 60px;
  }
  .page-header-text.dark.detail {
    color: black;
    margin-top: -76px !important;
    margin-bottom: 45px;
    margin-left: 66px !important;
  }
  .user-numbers-container-3,
  .online-pics-mobile {
    display: none !important;
  }
  .mobile-message-bar {
    position: relative;
    z-index: 999 !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
}

@media (max-width: 650px) {
  .sidebar-menu-text-2,
  .sidebar-menu-text-3 {
    display: none;
  }
}

@media (min-width: 992px) {
  #mobile-menu-icon,
  #mobile-menu-icon-home,
  div.ui.bottom.right.popup.transition.visible.mobile-menu-popup  {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .menu-items-to-hide {
    display: none;
  }
  .mobile-height-fix {
    margin-top: -20px;
  }
}

#dropdown-menu-items {
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 87px;
}

div.ui.bottom.right.popup.transition.visible.mobile-menu-popup {
  margin-top: 70px;
  border: none;
  min-width: 100vw;
  border-radius: 0px;
  padding-left: 0px;
  padding-top: 0px;
  height: 245px;
  position: absolute !important;
  left: -25px !important;
}

div.ui.bottom.right.popup.transition.visible.mobile-menu-popup-logged-out {
  margin-top: 70px;
  border: none;
  min-width: 100vw;
  border-radius: 0px;
  padding-left: 0px;
  padding-top: 0px;
  height: 196px;
  position: absolute !important;
  left: -25px !important;
}

/* ----------------------------------------- */
/*         DEPOSIT MODAL MOBILE CSS          */
/* ----------------------------------------- */

@media (max-width: 499px) { 
  .matic-overlay {
    width: 100vw;
  }
}

/* ----------------------------------------- */
/*               HOME PAGE CSS               */
/* ----------------------------------------- */


@media (min-width: 500px) {
  .mobile-menu-image,
  .mobile-menu-words,
  .mobile-footer,
  .demo-button-container {
    display: none !important;
  }
  .mobile-no-scroll {
  }
}

@media (max-width: 600px) {
  .daily-leaders-container {
    display: none;
  }
}

@media (max-height: 750px) {
  .daily-leaders-container {
    display: none;
  }
}

.mobile-demo-video {
  width: 100%;
  border-radius: 2px;
  height: 500px;
}

@media (max-width: 499px) {
  .dashboard-image-container,
  #mobile-casino-text,
  video#myVideo.home-dashboard-video {
    display: none !important;
  }
  .home-mission-content {
    margin-top: -30px;
  }
  .home-dashboard-content {
    position: absolute;
    left: -9px;
    bottom: 75px;
  }
  .home-dashboard-p {
    width: 100%;
  }
  div.ui.vertical.segment {
    top: 0px !important;
  }
  .home-dashboard {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/dnzambf4m/image/upload/v1598490479/ezgif.com-optimize_1_fp44rx.gif');
    background-position: 75% !important;
    background-color: transparent;
    background-size: cover !important;
    height: 100% !important;
    width: 100vw;
    position: absolute;
    overflow: hidden !important;
  }
}

@media (max-width: 399px) {
  .home-dashboard-content {
    margin-left: -9px !important;
    margin-right: 30px;
    margin-top: 90px;
  }
  .featured-casino-text {
    font-size: 12px !important;
  }
  .home-dashboard-p {
    font-size: 18px !important;
  }
  .home-dashboard-h1 {
    font-size: 48px !important;
  }
}

@media (max-height: 599px) {
  .home-dashboard-mission {
    position: relative;
    padding-top: 0px !important;
  }
}

@media (max-width: 600px) {
  .logged-out-button-span {
    display: flex;
    margin-left: calc(50% - 90px);
    flex-direction: column;
  }
}

/* ----------------------------------------- */
/*             NFT/GAMES PAGE CSS            */
/* ----------------------------------------- */

@media (max-width: 1251px) {
  .nft-container {
    width: 48.5%;
  }
}

@media (max-width: 767px) {
  .nft-container,
  .nft-container:nth-child(1),
  .nft-container:nth-child(2) {
    width: 100% !important;
  }
}

@media (max-width: 851px) {
  .games-container {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .games-other-h3 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 12px;
    color: black;
    margin-top: -30px !important;
  }
}

@media (min-width: 948px) {
  span.leaderboard-coin-select-mobile,
  #intermediate-time-select {
    display: none !important;
  }
  span.leaderboard-coin-select {
    margin-top: -21px !important;
  }
  .coin-select-divider {
    margin-top: -2px !important;
    padding-bottom: 21px;
  }
}

@media (max-width: 947px) {
  .grid-margin {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  span.leaderboard-coin-select {
    display: none !important;
  }
  #mobile-time-select {
    margin-left: 0px !important;
  }
  .ui.dropdown {
    margin-bottom: 30px !important;
  }
  .coin-select-divider {
    margin-top: 18px !important;
    padding-bottom: 15px;
  }
}

@media (min-width: 600px) {
  #mobile-time-select {
    display: none !important;
  }
}

@media (max-width: 599px) {
  #intermediate-time-select {
    display: none;
  }
}

#intermediate-time-select {
  position: absolute;
  right: 0;
}

@media (max-width: 590px) {
  .tominoya-pic {
    min-width: calc(100vw - 75px) !important;
    padding-right: 60px !important;
    max-width: calc(100vw - 75px) !important;
  }
}

@media (max-width: 499px) {
  .tominoya-pic {
    min-width: calc(100vw - 75px) !important;
    padding-right: 30px !important;
    max-width: calc(100vw - 75px) !important;
  }
}

@media (max-width: 499px) {
  .ui.button.games-read-button {
    width: 50%;
  }
  .ui.blue.button.games-button {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .account-select.play2 {
    margin-left: 9px !important;
  }
}

@media (max-width: 499px) {
  .main-container {
    padding-bottom: 60px !important;
  }
}

/* ----------------------------------------- */
/*              DATA TABLE CSS               */
/* ----------------------------------------- */

@media (min-width: 1041px) {
  .table-header-text-1,
  .table-body-text-1 {
    padding-left: 75px !important;
  }
  .table-header-text-1.games,
  .table-body-text-1.games {
    padding-left: 9px !important;
  }
}

@media (max-width: 1040px) {
  .table-header-text-1.date,
  .table-body-text-1.date {
    display: none;
  }
}

@media (max-width: 700px) {
  .table-header-text-1.status,
  .table-body-text-1.status,
  .table-header-text-1.bet,
  .table-body-text-1.bet {
    display: none;
  }
}

@media (min-width: 568px) {
  .ui.button.etherscan-button-mobile {
    display: none;
  }
}

@media (max-width: 567px) {
  .ui.button.etherscan-button {
    display: none;
  }
  .ui.button.etherscan-button-mobile {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #2085f4;
    color: #2085f4;
    margin-top: -45px;
    height: 27px;
    max-width: 60px !important;
    min-width: 60px;
    padding: 7px 6px 0px 6px;
    opacity: 100% !important;
  }
}
/* ----------------------------------------- */
/*           ACCOUNT BALANCES CSS            */
/* ----------------------------------------- */

@media (max-width: 991px) {
  .balances-column.one,
  .balances-column.two,
  .balances-column.three {
    max-width: 48.5% !important;
  }
  .balances-column.one,
  .balances-column.two {
    margin-bottom: 30px !important;
  }
  .balances-column.three {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 767px) {
  .balances-column.one,
  .balances-column.two,
  .balances-column.three {
    max-width: 100% !important;
  }
  .balances-column.one,
  .balances-column.two {
    margin-bottom: 30px !important;
  }
  .balances-column.three {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 499px) {
  #account-txs-tab {
    display: none !important;
  }
  div.ui.grid.balances-container {
    margin-left: -9px !important;
    margin-right: -9px !important;
  }
}

@media (min-width: 500px) {
  #account-txs-tab-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .account-authorize-span {
    display: none !important;
  }
  div.ui.grid.balances-container {
    padding-top: 75px !important;
  }
}

@media (min-width: 601px) {
  .account-authorize-span-mobile {
    display: none;
  } 
}

/* ----------------------------------------- */
/*            DG PAGE MOBILE CSS             */
/* ----------------------------------------- */

@media (min-width: 882px) {
  .dg-tabs-mobile {
    display: none;
  }
}

@media (max-width: 1030px) {
  .DG-liquidity-container,
  .DG-top-container {
    flex-direction: column;
  }
  .DG-tablet-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    width: 100%;
  }
  .DG-liquidity-container.top {
    flex-direction: row;
  }
  .DG-column.unclaimed {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .DG-column.one,
  .DG-column.two {
    max-width: 48.5% !important;
  }
  .DG-liquidity-container.gov {
    flex-direction: column;
  }
  .outter-airdrop-container {
    display: flex;
    flex-direction: column;
  }
  #airdrop-unclaimed {
    margin-bottom: 45px;
  }
}

@media (max-width: 881px) {
  .dg-tabs-desktop {
    display: none;
  }
  .DG-tablet-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    width: 100%;
  }
  .DG-column.one {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .DG-column.two {
    min-width: 100%;
  }
  .DG-liquidity-container.top {
    flex-direction: column;
  }
  .DG-column.three {
    max-width: 100% !important;  
  }
  .DG-column.four {
    max-width: 100% !important;
    margin-top: 30px;
  }
  .DG-liquidity-container.gov {
    flex-direction: column;
  }
  .DG-column.stake,
  .DG-column.gov {
    max-width: 100% !important;
  }
  .DG-column.stake {
    margin-top: 30px;
  }
}

@media (min-width: 1062px) {
  .DG-column.one.top {
    height: 100px;
  }
}

@media (min-width: 601px) {
  .DG-mobile-divider {
    display: none;
  }
}

@media (max-width: 600px) {
  .ui.button.account-connected-play-button-mobile.redeem,
  .ui.button.DG-stake-button {
    min-width: 48.5% !important;
  }
  .ui.button.DG-stake-button-two {
    min-width: 100% !important;
  }
}

@media (max-width: 499px) {
  .account-name {
    font-size: 28px;
    padding-left: 15px;
  }
  #airdrop-number-1 {
    padding: 8px 0px 0px 20px;
  }
  #airdrop-number-2 {
    padding: 8px 0px 0px 20px;
  }
  .welcome-text {
    padding-left: 16px;
  }
  .farming-logo {
    width: 52px;
    height: 52px;
  }
  .farming-pool-span {
    margin-top: 6px;
  }
  .ui.button.affiliate-copy-button,
  .ui.button.affiliate-copied-button { 
    display: none;
  }
}

/* ----------------------------------------- */
/*              MISC MOBILE CSS              */
/* ----------------------------------------- */

@media (max-width: 499px) {
  .logospin {
    position: fixed;
    display: block;
    width: 60px;
    margin-left: calc((100vw - 60px) / 2);
    margin-top: calc((100vh - 180px) / 2);
  }
  .account-other-inner-container {
    width: calc(100% - 42px);
    margin-left: 21px;
    margin-right: 21px;
  }
}

