/* ----------------------------------------- */
/*                 MENU CSS                  */
/* ----------------------------------------- */

#mobile-menu-icon {
  position: relative;
  color: black;
  background-color: transparent;
  top: -20px;
  left: 69px;
  z-index: 10;
  font-size: 18px !important;
}

#mobile-menu-icon-home {
  position: relative;
  color: white;
  top: -20px;
  background-color: transparent;
  left: 69px;
  z-index: 10;
  font-size: 18px !important; 
}

@media (max-width: 599px) {
  .menu-info-to-hide {
    display: none;
  }
  .menu-avatar-background {
    margin-left: -9px !important;
  }
  #add-funds-mobile-padding {
    padding-right: 15px !important;
  }
  .mobile-display-none-name {
    display: none;
  }
  #mobile-avatar-picture {
    margin-right: -6px;
  }
}

#mobile-menu-icon:hover,
#mobile-menu-icon-home:hover,
#home-menu-icon:hover {
  cursor: pointer;
}

@media (min-width: 500px) {
  .page-header-text {
    display: none !important;
  }
  .ui.blue.button.metamask-mobile-button {
    display: none;
  }
}

@media (max-width: 499px) {
  .menu-info-modal {
    width: 100vw;
    height: calc(100vh - 2em);
    top: 0;
  }
  .ui.button.modal-deposit-button {
    display: none;
  }
  .ui.button.more-dropdown-button {
    margin-right: 21px;
  }
  #menu-logo {
    margin-left: 15px;
  }
  #add-funds-mobile-padding {
    display: none;
  }
  #mobile-menu-icon,
  #mobile-menu-icon-home {
    position: relative;
    left: 60px;
  }
  #dropdown-menu-items {
    padding-left: 67px !important;
  }
  .ui.blue.button.metamask-button {
    display: none;
  }
  .ui.blue.button.metamask-mobile-button {
    background-color: #2085f4;
    position: relative;
    background-color: #2085f4 !important;
    color: white;
    font-weight: 600;
    margin-top: 18px;
    padding-top: 8px;
    min-width: 150px !important;
    padding-left: 0px;
    padding-right: 0px;
    height: 27px;
    letter-spacing: 0.5px;
    border-radius: 4px;
    margin-right: 15px !important;
  }
  .right-menu-items.outter {
    position: absolute;
    width: 50vw;
    right: 21px;
  }
  .page-header-text {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 0px;
    letter-spacing: 0.25px;
    line-height: 1.4;
    color: white;
    margin-top: -66px !important;
    position: relative;
    z-index: 6;
    width: 100px;
    margin-left: 45px;
  }
  .page-header-text.dark {
    color: black;
    margin-top: -112px !important;
    margin-bottom: 60px;
  }
  .page-header-text.dark.detail {
    color: black;
    margin-top: -76px !important;
    margin-bottom: 45px;
    margin-left: 66px !important;
  }
  .user-numbers-container-3,
  .online-pics-mobile {
    display: none !important;
  }
  .mobile-message-bar {
    position: relative;
    z-index: 999 !important;
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
}

div#dropdown-menu-items.item.right-menu-text {
  border: none;
  box-shadow: none;
  letter-spacing: 1.25px;
  font-size: 14px;
  font-weight: 600;
  padding: 18px 0px 18px 100px;
  text-transform: uppercase; 
}

.ui.top.attached.menu>.item:first-child {
  margin-top: 76px;
  border: 0px solid white;
}

.ui.dropdown .menu,
.ui.menu .dropdown.item .menu {
  border: 0px;
  box-shadow: none;
  padding-top: 0px;
  margin-left: -81px;
  border-radius: 0px;
}

.ui.link.menu .item:hover, 
.ui.menu .dropdown.item:hover, 
.ui.menu .link.item:hover, 
.ui.menu a.item:hover,
.ui.menu .ui.dropdown .menu>.item:hover {
  background: none !important;
}

@media (max-width: 991px) {
  .menu-items-to-hide {
    display: none;
  }
  .mobile-height-fix {
    margin-top: -70px;
  }
}

@media (max-width: 650px) {
  .sidebar-menu-text-2,
  .sidebar-menu-text-3 {
    display: none;
  }
}

div.ui.top.attached.menu {
  margin-left: -3px;
  width: 0px;
  height: 0px;
  margin-top: 30px;
  border: 0px solid white;
}

@media (min-width: 991px) {
  #mobile-menu-icon,
  #mobile-menu-icon-home,
  div.ui.top.attached.menu  {
    display: none !important;
  }
}

#dropdown-menu-items {
  width: 100vw;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -21px;
  padding-left: 81px;
}

div.ui.bottom.right.popup.transition.visible.mobile-menu-popup {
  border: none;
  min-width: calc(100vw + 1px);
  border-radius: 0px;
  padding-left: 0px;
  height: 309px;
  position: absolute !important;
  top: 48px;
  left: -25px !important;
}


/* ----------------------------------------- */
/*         DEPOSIT MODAL MOBILE CSS          */
/* ----------------------------------------- */

@media (max-width: 499px) { 
  .matic-overlay {
    width: 100vw;
  }
}

/* ----------------------------------------- */
/*               HOME PAGE CSS               */
/* ----------------------------------------- */

@media (max-width: 620px) {
  .outter-dashboard-span {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .home-more-nav {
    margin-top: 0px !important;
  }
}

@media (min-width: 500px) {
  .mobile-menu-image,
  .mobile-menu-words,
  .mobile-footer,
  .demo-button-container {
    display: none !important;
  }
  a.ui.blue.button.play-button,
  .ui.blue.button.play-button,
  .ui.blue.button.demo-button  {
    margin-right: 21px;
  }
}

@media (max-width: 600px) {
  .dashboard-span {
    flex-direction: column !important;
  }
  .home-dashboard-h1,
  .home-footer-h1,
  .dg-powered-h1 {
    font-size: 40px !important;
  }
}

.mobile-demo-video {
  width: 100%;
  border-radius: 2px;
  height: 500px;
}

@media (max-width: 499px) {
  .dashboard-image-container,
  #mobile-casino-text,
  video#myVideo.home-dashboard-video,
  .home-video-container,
  .home-video-container video {
    display: none !important;
  }
  .home-dashboard-content {
    position: relative;
    height: 100vh;
    padding-top: 33vh !important;
    padding-right: 21px !important;
  }
  .home-dashboard-p {
    width: 100%;
  }
  div.ui.vertical.segment {
    top: 0px !important;
  }
  .home-section-4-header {
    padding-left: 21px;
    padding-right: 21px;
  }
  .ui.blue.button.our-blog-button {
    min-width: 48.5%;
    padding: 11px 0 0 0;
  }
  .ui.blue.button.learn-more-button  {
    min-width: 48.5%;
    padding: 10px 0 0 0;
  }
  .home-button-span.dg {
    min-width: calc(100vw - 42px);
  }
  .mailchimp-input {
    width: 100%;
  }
  .home-dashboard {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.5)
      ),
      url('https://res.cloudinary.com/dnzambf4m/image/upload/v1598490479/ezgif.com-optimize_1_fp44rx.gif');
    background-position: 75% !important;
    background-color: transparent;
    background-size: cover !important;
    height: 100vh !important;
    width: 100vw;
  }
  .home-button-span {
    display: flex;
    justify-content: space-between;
  }
  a.ui.blue.button.play-button,
  .ui.blue.button.play-button,
  a.ui.blue.button.how-to-button {
    width: 48.5% !important;
  }
  .home-dashboard-content,
  .home-section-2,
  .home-section-3,
  .home-section-4,
  .home-section-5,
  .home-section-6 {
    padding-left: 21px !important;
    padding-right: 21px !important;
  }
}

@media (max-width: 1261px) {
  .learn-more-dg-outter {
    display: flex;
    flex-direction: column;
  }
  .avatar-image-span {
    order: 2;
    display: flex;
    min-width: 100%;
    justify-content: center;
    margin-left: 30px;
  }
  .learn-more-dg-span {
    margin-top: 90px !important;
    order: 1;
    display: flex;
    min-width: 100%;
    flex-direction: column;
    margin-top: 150px;
  }
  .home-footer-h1.avatars,
  .home-footer-p.avatars {
    text-align: center;
  }
  .home-button-span.avatars {
    display: flex;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .home-footer-h1.avatars,
  .home-footer-p.avatars {
    text-align: left;
  }
  .home-button-span.avatars {
    align-self: start !important;
  }
  .home-footer-h1.ecosystem {
    text-align: left;
  }
  .home-button-span.ecosystem {
    align-self: start !important;
  }
}

@media (max-width: 499px) {
  .avatar-image-span {
    padding-left: 30px;
    overflow: hidden !important;
    width: calc(100% + 42px);
    margin-left: -21px;
    margin-right: -21px;
  }
  .home-button-span.avatars,
  .home-button-span.ecosystem {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .ui.blue.button.play-button.avatars,
  .ui.blue.button.play-button.ecosystem {
    min-width: 48.5%;
    margin-right: 9px;
  }
}

@media (max-width: 399px) {
  .home-dashboard-content {
    margin-right: 0px !important;
  }
  .featured-casino-text {
    font-size: 12px !important;
  }
  .home-dashboard-p {
    font-size: 18px !important;
  }
}

@media (max-height: 599px) {
  .home-dashboard-mission {
    position: relative;
    padding-top: 0px !important;
  }
}

@media (max-width: 600px) {
  .logged-out-button-span {
    display: flex;
    margin-left: calc(50% - 90px);
    flex-direction: column;
  }
}

@media (max-width: 1011px) {
  .home-section-3 {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 100%;
  }
  .footer-container {
    display: flex;
    flex-direction: column !important;
  }
  .inner-footer-container-2 {
    justify-content: center;
  }
  .footer-menu-items {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 599px) {
  .home-dashboard-main-h1 {
    font-size: 48px;
  }
  .featured-casino-text {
    font-size: 12px;
  }
}

@media (max-width: 850px) {
  .outter-footer-container {
    flex-direction: column;
  }
  .inner-footer-container.top {
    padding-bottom: 60px;
    margin-top: -30px;
  }
  .inner-footer-container {
    width: 100%;
  }
  .inner-footer-container.bottom {
    padding-top: 45px;
  }
}

/* ----------------------------------------- */
/*             NFT/GAMES PAGE CSS            */
/* ----------------------------------------- */

@media (min-width: 947px) {
  span.leaderboard-coin-select-mobile,
  #intermediate-time-select {
    display: none !important;
  }
  span.leaderboard-coin-select {
    margin-top: -48px !important;
    margin-bottom: 12px;
  }
  .coin-select-divider {
    margin-top: -2px !important;
    padding-bottom: 21px;
  }
}

@media (max-width: 599px) {
  #intermediate-time-select {
    display: none !important;
  }
}

span#mobile-time-select.account-select.dropdown {
  margin: -30px 0px 0px -9px;
}

@media (min-width: 599px) {
  span#mobile-time-select.account-select.dropdown {
    display: none !important;
  }
}

@media (max-width: 947px) {
  .grid-margin {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
  span.leaderboard-coin-select {
    display: none !important;
  }
  span.leaderboard-coin-select-mobile {
    margin-top: -27px;
    margin-bottom: 45px !important;
  }
  .ui.dropdown {
    margin-bottom: 30px !important;
  }
  .coin-select-divider {
    margin-top: 18px !important;
    padding-bottom: 15px;
  }
}

#intermediate-time-select {
  position: absolute;
  right: 0;
  margin-top: -9px;
  margin-bottom: 45px !important;
  cursor: pointer;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px !important;
  color: rgb(92, 95, 97);
}

@media (max-width: 1251px) {
  .nft-container {
    width: 48.5%;
  }
}

@media (max-width: 767px) {
  .nft-container,
  .nft-container:nth-child(1),
  .nft-container:nth-child(2) {
    width: 100% !important;
  }
}

@media (max-width: 851px) {
  .games-container {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .games-other-h3 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 12px;
    color: black;
    margin-top: -30px !important;
  }
}

@media (max-width: 590px) {
  .tominoya-pic {
    min-width: calc(100vw - 75px) !important;
    padding-right: 60px !important;
    max-width: calc(100vw - 75px) !important;
  }
}

@media (max-width: 499px) {
  .tominoya-pic {
    min-width: calc(100vw - 75px) !important;
    padding-right: 30px !important;
    max-width: calc(100vw - 75px) !important;
  }
}

@media (max-width: 499px) {
  .ui.button.games-read-button {
    width: 50%;
  }
  .ui.blue.button.games-button {
    width: 50%;
  }
}

@media (max-width: 499px) {
  .main-container {
    padding-bottom: 60px !important;
  }
}

/* ----------------------------------------- */
/*              DATA TABLE CSS               */
/* ----------------------------------------- */

@media (min-width: 1041px) {
  .table-header-text-1,
  .table-body-text-1 {
    padding-left: 75px !important;
  }
  .table-header-text-1.games,
  .table-body-text-1.games {
    padding-left: 9px !important;
  }
}

@media (max-width: 1040px) {
  .table-header-text-1.date,
  .table-body-text-1.date {
    display: none;
  }
}

@media (max-width: 700px) {
  .table-header-text-1.status,
  .table-body-text-1.status,
  .table-header-text-1.bet,
  .table-body-text-1.bet {
    display: none;
  }
}

@media (min-width: 568px) {
  .ui.button.etherscan-button-mobile {
    display: none;
  }
}

@media (max-width: 567px) {
  .ui.button.etherscan-button {
    display: none;
  }
  .ui.button.etherscan-button-mobile {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #2085f4;
    color: #2085f4;
    margin-top: -45px;
    height: 27px;
    max-width: 60px !important;
    min-width: 60px;
    padding: 7px 6px 0px 6px;
    opacity: 100% !important;
  }
}
/* ----------------------------------------- */
/*           ACCOUNT BALANCES CSS            */
/* ----------------------------------------- */

@media (max-width: 991px) {
  .balances-column.one,
  .balances-column.two,
  .balances-column.three {
    max-width: 48.5% !important;
  }
  .balances-column.one,
  .balances-column.two {
    margin-bottom: 30px !important;
  }
  .balances-column.three {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 767px) {
  .balances-column.one,
  .balances-column.two,
  .balances-column.three {
    max-width: 100% !important;
  }
  .balances-column.one,
  .balances-column.two {
    margin-bottom: 30px !important;
  }
  .balances-column.three {
    margin-bottom: 90px !important;
  }
}

@media (max-width: 499px) {
  #account-txs-tab {
    display: none !important;
  }
  div.ui.grid.balances-container {
    margin-left: -9px !important;
    margin-right: -9px !important;
  }
}

@media (min-width: 500px) {
  #account-txs-tab-mobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .account-authorize-span {
    display: none !important;
  }
}

@media (min-width: 601px) {
  .account-authorize-span-mobile {
    display: none;
  } 
}

/* ----------------------------------------- */
/*            DG PAGE MOBILE CSS             */
/* ----------------------------------------- */

@media (max-width: 1170px) {
  .DG-liquidity-container.gov {
    flex-direction: column;
  }
  .DG-column-treasury.one,
  .DG-column-treasury.two {
    width: 48.5%;
  }
  .DG-tablet-container-gov {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 1030px) {
  .DG-liquidity-container,
  .DG-top-container {
    flex-direction: column;
  }
  .DG-tablet-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    width: 100%;
  }
  .DG-liquidity-container.top {
    flex-direction: row;
  }
  .DG-column.unclaimed {
    width: 100% !important;
  }
  .DG-column.one-uniswap {
    width: 100%;
  }
  .DG-column.one,
  .DG-column.two {
    max-width: 48.5% !important;
  }
  .outter-airdrop-container {
    display: flex;
    flex-direction: column;
  }
  #airdrop-unclaimed {
    margin-bottom: 45px;
  }
}

@media (max-width: 881px) {
  .DG-tablet-container,
  .DG-tablet-container-gov {
    display: flex;
    justify-content: space-between;
    flex-direction: column !important;
    width: 100%;
  }
  .DG-column.one,
  .DG-column-treasury.one {
    min-width: 100%;
    margin-bottom: 30px;
  }
  .DG-column.two,
  .DG-column-treasury.two {
    min-width: 100%;
  }
  .DG-liquidity-container.top {
    flex-direction: column;
  }
  .DG-column.three {
    max-width: 100% !important;  
  }
  .DG-column.four {
    max-width: 100% !important;
    margin-top: 30px;
  }
  .DG-liquidity-container.gov {
    flex-direction: column;
  }
  .DG-column.stake,
  .DG-column.gov {
    max-width: 100% !important;
  }
  .DG-column.stake {
    margin-top: 30px;
  }
}

@media (min-width: 1062px) {
  .DG-column.one.top {
    height: 100px;
  }
}

@media (min-width: 601px) {
  .DG-mobile-divider {
    display: none;
  }
}

@media (max-width: 600px) {
  .ui.button.account-connected-play-button-mobile.redeem,
  .ui.button.DG-stake-button {
    min-width: 48.5% !important;
  }
  .ui.button.DG-stake-button-two {
    min-width: 100% !important;
  }
  .ui.button.affiliate-copy-button,
  .ui.button.affiliate-copied-button { 
    display: none;
  }
}

@media (max-width: 499px) {
  .account-name {
    font-size: 28px;
    padding-left: 15px;
  }
  #airdrop-number-1 {
    padding: 8px 0px 0px 20px;
  }
  #airdrop-number-2 {
    padding: 8px 0px 0px 20px;
  }
  .welcome-text {
    padding-left: 16px;
  }
  .farming-logo {
    width: 52px;
    height: 52px;
  }
  .farming-pool-span {
    margin-top: 6px;
  }
}

/* ----------------------------------------- */
/*              MISC MOBILE CSS              */
/* ----------------------------------------- */

@media (max-width: 499px) {
  .logospin {
    position: fixed;
    display: block;
    width: 60px;
    margin-left: calc((100vw - 60px) / 2);
    margin-top: calc((100vh - 180px) / 2);
  }
  .account-other-inner-container {
    width: calc(100% - 42px);
    margin-left: 21px;
    margin-right: 21px;
  }
}

