.spinner {
  width: 55px;
  height: 55px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.snow {
  position: absolute;
  width: 100%;
  height: calc(100% - 210px);
  top: 210px;
  left: 0;
  background: rgba(255, 255, 255, 1);
  z-index: 9;
}

.black { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  z-index: 9;
}

/* ----------------------------------------- */
/*            ZOOM ANIMATION CSS             */
/* ----------------------------------------- */



.dg-presents-spinner {
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.dg-presents {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.25px;
  color: white;
  margin-top: 2px;
}

.zoom-animation {
  z-index: 999;
  height: 0px;
  padding: 0px;
  border: 150em solid black !important;
  position: fixed;
  left: 50%;
  top: 50%;
  display: block;
  box-sizing: initial;
  overflow: hidden;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: puff 0.3s 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0s 0.8s linear forwards;
}

@media (max-width: 600px) {
  .zoom-animation {
    display: none;
  }
}

@keyframes puff {
  0% {
    top: 50%;
    height: 0px;
    padding: 0px;
  }
  100% {
    top: 50%;
    height: 100vw;
    padding: 0px 100vh;
  }
}

@keyframes borderRadius {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0px;
  }
}
