.wearableHeader {
  max-width: 900px;
  // min-width: 685px;
  margin-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 24px;
    margin-bottom: 0px;
    padding-top: 40px;
    color: white;
  }

  & p {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  .open_sea {
    border-radius: 16px;
    margin-top: 40px;
    height: 42px;
    color: white;
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    font-weight: 700;
    background: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: brightness(0.9) !important;
      color: white;
      background: #1f1f1f;
    }

    &:focus {
      filter: brightness(0.9) !important;
      color: white;
    }

    svg {
      padding-top: 3px;
      margin-left: 4px;
      width: 16px;
      height: 16px;
    }
  }
}
