@import "styles/base.scss";
.wearableHeader {
  max-width: 900px;
  // min-width: 685px;
  margin-top: 30px;
  margin: auto;
  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 24px;
    margin-bottom: 0px;
    padding-top: 40px;
    color: white;
  }

  & p {
    color: rgba(255, 255, 255, 0.5) !important;
    font-size: 16px;
  }

  .open_sea {
    border-radius: 16px;
    margin-top: 40px;
    height: 35px;
    color: white;
    padding: 6px 24px 6px 24px;
    font-size: 14px;
    background: #1f1f1f;
    font-family: "Larsseit-Regular";
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      filter: brightness(0.9) !important;
      color: white;
      background: #1f1f1f;
    }

    &:focus {
      filter: brightness(0.9) !important;
      color: white;
    }

    svg {
      padding-top: 3px;
      margin-left: 4px;
      width: 16px;
      height: 16px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .wearableHeader {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include mq($until: medium) {
  .wearableHeader {
    padding-left: 0px;
    padding-right: 0px;

    & h2 {
      font-size: 20px;
    }

    & p {
      font-size: 14px;
    }

    .open_sea {
      height: 30px;
      padding: 6px 12px;
      font-size: 12px;
    }
  }
}
