@import 'styles/base.scss';

.outter_games_container {
  .games_container {
    overflow: hidden;
    width: 48.5%;
    border-radius: 20px;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    background: rgb(31, 31, 31);

    .image_wrapper {
      display: flex;
      justify-content: center;

      .game_pic {
        max-height: 270px;
        min-height: 270px; 
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 4px !important;
        border-radius: 20px 20px 0 0 !important; 
      }

    }
    .nft_description {
      padding: 20px 30px 30px;
      text-align: center;
      background-color: #1f1f1f;
      border-radius: 0 0 4px 4px;
      .nfts_info {
        text-align: left;
        font-size: 15px!important;
        font-family: Larsseit-Bold;
        color: hsla(0,0%,100%,.75)!important;
      }
      .nft_other_h3 {
        margin-bottom: 0;
        text-align: left;
        font-family: Larsseit-Bold;
        font-weight: 800!important;
        font-size: 30px;
        padding: 2px 0 3px;
        margin-top: 0;
      }
      .nft_other_p {
        padding-top: 10px;
        text-align: left;
        font-size: 18px;
        font-family: Larsseit-Regular;
      }
    }


    &:hover {
      transform: translateY(-1px);
      box-shadow: rgb(18 38 63 / 15%) 0px 0px 8px 0px;
      transition: all 0.1s ease 0s;
    }

    .nft_image {
      display: flex;
      justify-content: center;
    }

    @include mq($from: large) {
      width: 48.5%;
    }

    @include mq($until: large) {
      width: 100%;
    }
  }
}

.outter_nft_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: 30px;
  
  .nft_container {
    width: 32%;
    background-color: #1f1f1f;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    border-radius: 4px;

    .image_wrapper {
      display: flex;
      justify-content: center;

      .nft_pic {
        max-height: 300px;
        min-height: 400px; 
        height: 100%;
        width: 100%;
        object-fit: cover;
        margin-bottom: 4px !important;
        border-radius: 20px 20px 0 0 !important; 
      }

    }
  
    &:hover {
      transform: translateY(-1px);
      box-shadow: rgb(18 38 63 / 15%) 0px 0px 8px 0px;
      transition: all 0.1s ease 0s;
    }
  
    @include mq($until: extra-large) {
      width: 48.5%;
    }
  
    @include mq($until: medium) {
      width: 100%;
    }
  }
}


.divider_dg_card {
  margin: 10px 0 15px 0;
  width: calc(100% + 60px);
  margin-left: -30px;
}
.nft_blue_button{
  background-color: #006eff !important;
  color: #fff;
  width: calc(50% - 8px)!important;
  height: 56px!important;
  font-size: 20px!important;
  font-family: Larsseit-Bold;
  border-radius: 12px;
  margin-top: 24px !important;
  &:hover {
    filter: brightness(.9)!important;
  }
}
.nft_read_button {
  background-color: #2a2a2a !important;
  color: #fff !important;
  width: calc(50% - 8px)!important;
  height: 56px!important;
  font-size: 20px!important;
  font-family: Larsseit-Bold;
  border-radius: 12px;
  margin-top: 24px !important;
  &:hover {
    filter: brightness(.9)!important;
  }
}
