@import "styles/base.scss";

.main_wrapper {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -60px;
    margin-bottom: -120px;

    .home_video {
        height: 100vh;
    }

    .button_section {
        display: flex;
        justify-content: center;
        margin-top: -240px;
        transform: scale(0.8);

        .get_started {
            background-color: #2b2b2b;
            color: white;
            position: relative;
            height: 64px;
            width: 200px;
            line-height: 32px;
            font-size: 20px;
            margin-right: 0;
        }

        .play_button {
            position: relative;
            background-color: #006eff;
            color: white;
            height: 64px;
            width: 200px;
            line-height: 32px;
            font-size: 20px;
            margin-left: 16px;
        }

        @include mq($until: small) {
            .get_started {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                height: 50px;
                width: 120px;
                font-size: 15px;
                line-height: 24px;
            }

            .play_button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0px;
                padding: 0px;
                height: 50px;
                width: 120px;
                font-size: 15px;
                line-height: 24px;
            }
        }
    }
}
