@import "styles/base.scss";

.history_container {
	margin: auto;

	@include mq($until: extra-large) {
		width: 100%;
	}

	@include mq($from: extra-large) {
		width: 75%;
	}

	.title {
		font-size: 24px;
		font-family: Larsseit-ExtraBold;
		margin: 60px 0px 24px 0px;
	}
	
	.tx-box-overflow {
		height: 100%;
		overflow-y: auto;
	}

	.history_column {
		border: 2px solid rgba(255, 255, 255, 0.15);
		border-radius: 24px;
		height: 68px;
		padding: 19px 40px 30px 40px;
	}

	.row_type {
		font-size: 18px;
		font-family: Larsseit-Bold;
		margin: -38px 0px -30px 40px;
	}

	.row_date {
		font-size: 14px;
		font-family: Larsseit-Bold;
		color: rgba(255, 255, 255, 0.75) !important;
		margin: 28px 0px 0px 40px;
	}

	.error_container {
		padding-top: 20px;
	}

	.error_state {
		font-family: Larsseit-Bold;
		font-size: 18px;
		text-align: center;
		color: rgba(255, 255, 255, 0.6) !important;
	}
}
