@import 'styles/base.scss';
.home_dashboard_content {
    .home_gif {
        @include mq($from: small) {
          display: none;
        }
      
        @include mq($until: small) {
          margin-top: -200px;
          width: 100%;
          position: relative;
          z-index: -2;
        }
    }
    .home_dashboard_main_h1 {
        color: white;
        padding-bottom: 12px;
        text-shadow: 1px 1px 5px black;
        margin: -12px 0 -32px -2px;
        max-width: 600px;
      
        @include mq($from: medium) {
          max-width: 100%;
          text-align: center;
        }
      
        @include mq($until: small) {
          font-size: 48px;
          margin-top: -120px;
        }
    }
    .play_now_button_demo {
  
        @include mq($until: small) {
          width: 210px;
          position: relative;
          background-color: #006eff;
          color: white;
          margin-top: 8px !important;
          height: 64px;
          line-height: 30px;
          font-size: 20px !important;
          font-weight: 700 !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
    }
}