@import "styles/base.scss";

.dg_liquidity_container {
  .dg_liquidity_avatar {
    display: flex;

    .farming_pool_loader {
      font-size: 12px;
      margin-top: 12px;
      margin-left: 15px;
    }
  }

  .dg_liquidity_token {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;

    .earned_text {
      color: #5c5f61 !important;
    }

    &_loader {
      font-size: 12px;
      margin-top: 1px;
      margin-bottom: 2px;
    }
  }

  .dg_liquidity_body {
    font-size: 18px;

    &_hyperlink {
      color: #2085f4;
    }
  }
}