@import "styles/base.scss";

.items_container {
	margin-top: -30px;
	margin: auto;
	
	@media (max-width: 1400px) {
		width: 100%;
	}

	@media (min-width: 1400px) {
		width: 75%;
	}

	.nft_grid {
		display: flex;
		flex-direction: row;

		@media (max-width: 1065px) {
			flex-wrap: wrap;
		}
	}

	&_nfts {
		display: flex;
		justify-content: space-between;
	}


	.nft_column {
		justify-content: center;
    padding: 10px;
		display: flex;

		@media (max-width: 1065px) {
			margin: auto;
		}
	}

	.nft_description {
		padding: 30px;
	}

	.title {
		font-size: 24px;
		font-family: Larsseit-ExtraBold;
		margin: 60px 0px 24px 0px;
		margin-top: 90px;

		&-grid {
			margin-bottom: 90px;
			margin-top: 9px;
		}
	}

	.all_button {
		font-size: 14px;
		width: 80px;
		background: #1F1F1F;
		border-radius: 12px;
		color: white;
		font-family: Larsseit-Bold;
		margin-bottom: -124px;
	}

	.my_nfts {
		background: #1F1F1F;
		width: 100%;
		border-radius: 24px;
		height: 100%;
	}

	.nft_image {
		border-radius: 24px 24px 0px 0px;
	}

	.nft_number {
		position: relative;
		margin-top: -288px;
		margin-bottom: 300px;
		float: right;
		font-size: 12px;
		font-family: Larsseit-Bold;
		padding: 4px 8px 4px 8px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		margin-right: 12px;
	}

	.nft_subheader {
		font-size: 12px;
		font-family: Larsseit-Bold;
		color: rgba(255, 255, 255, 0.75) !important;
		text-transform: uppercase;
	}

	.nft_name {
		font-family: Larsseit-ExtraBold;
		margin-top: 4px;

		@media (max-width: 1065px) {
			font-size: 20px;
		}

		@media (min-width: 1065px) {
			font-size: 24px;
		}
	}

	.read_button {
		font-size: 16px;
		font-family: Larsseit-Bold;
		width: 120px;
		height: 48px;
		color: white;
		background-color: #2B2B2B;
		border-radius: 12px;
	}

	.sell_button {
		font-size: 16px;
		font-family: Larsseit-Bold;
		width: 120px;
		height: 48px;
		color: white;
		background-color: #006EFF;
		border-radius: 12px;
	}

	.nft_wearable {
		display: flex;
		justify-content: space-between;
		margin-top: 16px;
	}

	.error_container {
		padding-top: 20px;
	}

	.error_state {
		font-family: Larsseit-Bold;
		font-size: 18px;
		text-align: center;
		color: rgba(255, 255, 255, 0.6) !important;
	}
}

