@import 'styles/base.scss';

.ice_container {
  width: 550px;
  margin: auto;

  .ice_img {
    width: 550px;
  }

  .play_text {
    font-family: Larsseit-ExtraBold;
    font-size: 24px;
    letter-spacing: -0.7px;
    text-align: center;
  }

  .play_lower {
    font-family: Larsseit-Regular;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.5) !important;
    text-align: center;
    width: 300px;
    margin: -16px auto 0px auto;
  }

  .button_span {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 120px;

    .left_button {
      background: #1F1F1F;
      height: 48px;
      width: 111px;
      font-size: 17px;
      color: white;
      border-radius: 12px;
      font-family: Larsseit-Bold;
      margin-right: 16px;

      &:hover,
      &:focus,
      &:active {
        background: #1F1F1F;
        color: white;
        filter: brightness(0.9);
      }
    }

    .right_button {
      background: #006EFF;
      height: 48px;
      width: 111px;
      font-size: 17px;
      color: white;
      border-radius: 12px;
      font-family: Larsseit-Bold;

      &:hover,
      &:focus,
      &:active {
        background: #006EFF;
        color: white;
        filter: brightness(0.9);
      }
    }
  }
}
