@import "styles/base.scss";

.enabled_button {
	width: calc(100% - 4px);
	border-radius: 12px !important;
	height: 68px;
	color: white !important;
	font-size: 18px !important;
	font-family: Larsseit-Bold !important;
	background: #0d6efd !important;
}