@import 'styles/base.scss';

.content_treasury_container {
  .table_weekly_field {
    display: flex;
    justify-content: flex-end;
    margin-top: -6px;
    padding-bottom: 9px;
  }

  .content_treasury_loader {
    font-size: 12px;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 0px;
  }

  .treasury_graph {
    width: 600px;
    padding: 20px 0 20px 0;

    @include mq($until: medium) {
      width: 100%;
    }
  }

  .treasury_table {
    display: flex;
    justify-content: center;

    @include mq($until: large) {
      justify-content: flex-start;
    }
  }

  .treasury_stats {
    width: 74.5%;
    position: relative;
    z-index: 2;
    padding: 0;
    margin-bottom: 60px;

    @include mq($until: large) {
      width: 100%;
    }
  }

  .earned_percent_pos {
    @include earned_table_style;

    font-size: 14px;
    color: #16c784 !important;
  }

  .earned_percent_neg {
    @include earned_table_style;

    font-size: 14px;
    color: #ea3943 !important;
  }

  .earned_week_text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-top: 3px;
  }

  .percent_icon_pos {
    @include earned_table_style;

    font-size: 10px;
    color: #16c784 !important;
  }

  .percent_icon_neg {
    @include earned_table_style;

    font-size: 10px;
    color: #ea3943 !important;
  }

  @media (max-width: 499px) {
    font-size: 10px;
    margin-left: 6px;

    .dai_mana_icon_one {
      margin-right: 15px;
    }
    .dai-mana-icon_two {
      margin-right: 45px;
    }
    .dai-mana-icon_four {
      margin-right: 40px;
    }
    .dai-mana-icon_seven {
      margin-right: 34px;
    }
  }
  
  @media (max-width: 376px) {
    font-size: 10px;
    margin-left: 6px;

    .dai-mana-icon_one {
      margin-right: 33px;
    }
    .dai-mana-icon_two {
      margin-right: 4px;
    }
    .dai-mana-icon_four {
      margin-right: 0px;
    }
    .dai-mana-icon_five {
      margin-right: 24px;
    }
    .dai-mana-icon_six {
      margin-right: 9px;
    }
    .dai-mana-icon_seven {
      margin-right: 6px;
    }
  }
}