@import 'styles/base.scss';

.dashboard_menu_container {
  z-index: 8;
  width: 100%;
  position: fixed;
  top: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  user-select: none;

  .mobile_menu {
    width: 100%;
    left: 0;
    background: #000;
    font-size: 18px;
    font-family: Larsseit-Bold;
    transition: all 0.3s ease;
    max-height: 0px;
    overflow: hidden;
    padding: 0;

    a {
      padding: 21px 0 21px 30px;
      color: rgba(255, 255, 255, 0.55);
      cursor: pointer;

      &:hover {
        background: #1f1f1f;
      }
    }

    &.open {
      max-height: 500px;
      padding: 0 0 12px 0;
      position: relative;
      top: -2px;
      border-bottom: 1px solid rgb(21, 24, 28);
    }
  }

  .menu_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    z-index: 3;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    box-shadow: none;
    border: none;
    text-align: center;
    padding: 34px 30px;
    color: white;
    font-size: 18px;
    font-family: Larsseit-Bold;
    transition: background 0.25s;
    -webkit-transition: background 0.25s;

    .right_menu_items {
      display: flex;
      margin-left: auto;
    }

    .menu_logo {
      width: 36px;
      height: 100%;
      position: relative;
      z-index: 7;
      cursor: pointer;
    }

    .menu_items_to_hide {
      display: flex;
      align-items: center;

      @include mq($until: medium) {
        margin-left: auto;

        svg {
          path {
            fill: #777e90;
          }
        }
      }

      .menu_style {
        padding: 0;
        color: #ffffff;
        flex-direction: column;
        background: transparent;
        text-align: center;
        box-shadow: none;
        font-family: Larsseit-Bold;
        font-size: 18px;
        display: flex;
        justify-content: center;
        margin-left: 56px;
        padding-right: 0 !important;

        &:hover {
          color: #ffffff;
          opacity: 0.8;
        }
      }

      svg {
        margin-left: 56px;
        cursor: pointer;
      }
    }
  }

  &.dark {
    opacity: 1;
    background-color: black !important;
    border-bottom: 1px solid rgb(21, 24, 28);
  }
}
