@import '~sass-mq/mq';

$spacer: 1rem;
$color-blue: #006eff;
$color-lightgray: #2f2f2f;
$color-darkgray: #2a2a2a;
$color-dark: #1f1f1f;
$color-black: #000000;
$color-white: #ffffff;

$border-color: $color-darkgray;

// sass-mq variables
$mq-breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
);

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled,
.btn:active,
.btn:hover,
.btn:focus,
.btn:disabled,
.btn.disabled {
  color: white !important;
  box-shadow: none !important;
}

.btn:hover,
.btn-primary:hover {
  filter: brightness(0.9) !important;
}

@keyframes showing {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
