@import "~sass-mq/mq";

$spacer: 1rem;
$color-blue: #006eff;
$color-lightgray: #2f2f2f;
$color-dark: #1f1f1f;
$color-white: #ffffff;

// sass-mq variables
$mq-breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
);

.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary.disabled,
.btn:active,
.btn:hover,
.btn:focus,
.btn:disabled,
.btn.disabled {
  color: white !important;
  box-shadow: none !important;
}

.btn:hover,
.btn-primary:hover {
  filter: brightness(0.9) !important;
}

@keyframes showing {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}


.body{
  
  &::-webkit-scrollbar-track {
    background-color: transparent;
    transition: 0.2s ease-in;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    transition: 0.2s ease-in;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.2s ease-in;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    background-size: 5px 20px;
    transition: 0.2s ease-in;
    border-radius: 36px;
  }
}
