@import '~sass-mq/mq';
@import './buttons';
@import './colors';
@import './mixin';
@import './common.scss';

$spacer: 1rem;

// sass-mq variables
$mq-breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
);


////////// Position //////////

.dg_flex {
  display: flex;
}

.dg_flex_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dg_flex_end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.dg_flex_justify_content_space_between {
  display: flex;
  justify-content: space-between;
}

.dg_flex_justify_content_center {
  display: flex;
  justify-content: center;
}

.dg_flex_justify_content_end {
  display: flex;
  justify-content: flex-end;
}

.dg_flex_direction_space_between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_align_right {
  text-align: right !important;
}

//////////////////////////////
/// Content
//////////////////////////////
.avatar_picture {
  &_home {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: linear-gradient(
      162deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 40%,
      #006eff 40.1%,
      #006eff 100%
    );
  }

  &_binance {
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background: linear-gradient(
      162deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 40%,
      #F1CD50 40.1%,
      #F1CD50 100%
    );
  }
}

.earned_amount {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: black;
  padding-top: 2px;
  margin: 0 0;
}

.earned_text {
  @include welcome_text_style;
  padding-top: 6px !important;
  margin-bottom: 0px;
}

.divider_dg_top {
  margin-left: -18px;
  width: calc(100%);
}

.dg_button_span {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  
  .dg_stake_button {
    color: white;
    background-color: #006eff;
    min-width: 48.5%;
    border-radius: 4px;
    height: 36px;
    line-height: 10px;
    font-size: 16px;
  
    &_balancer {
      height: 36px;
      min-width: 100%;
      margin-top: 15px;
      border-radius: 4px;
  
      &_enabled {
        background-color: white;
        height: 34px;
        padding: 0 0 0 0;
      }
    }
  }
}

.dg_claim_button {
  color: white !important;
  background-color: #006eff !important;
  min-width: 100%;
  border-radius: 4px !important;
  height: 36px;
  line-height: 10px;
  font-size: 16px;
}

.dg_balance_loader {
  font-size: 12px;
  margin-top: 5px;
  margin-left: -1px;
  margin-bottom: -2px;
}

.farming {
  &_logo {
    max-width: 60px;
    max-height: 60px;
    margin-top: 12px;
    margin-bottom: 9px;
    border-radius: 100%;
    position: relative;
    z-index: 3;
  
    @include mq($until: small) {
      width: 52px;
      height: 52px;
    }
  }

  &_logo_small {
    @include dg_logo_style;
    position: relative;
    z-index: 3;

    &_two {
      @include dg_logo_style;
      margin-left: -24px;
      z-index: 2;
    }
  }

  &_pool_span {
    margin-top: 6px;
  }
}

.welcome_text {
  @include welcome_text_style;
  padding-left: 16px;
  padding-top: 9px !important;
  margin-bottom: -3px;
}

.welcome_text_top {
  @include welcome_text_style;
  padding-top: 6px !important;
  margin-bottom: 0px;
}

.dg_liquidity_container {
  max-width: 1343px;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  justify-content: space-between;

  @include mq($until: large) {
    flex-direction: column;

    &_top {
      flex-direction: column;
    }
	}

  @include mq($from: large) {
    flex-direction: row;

    &_top {
      padding-top: 0px;
    }
  }
}

.dg_column {
  &_body {
    font-size: 18px;

    &_href {
      color: #2085f4;
    }

    &_margin {
      margin-top: -60px;
      margin-right: -4px;
    }
  }

  &_one {
    width: 100%;
    background-color: #1f1f1f;
    padding: 12px 18px 18px 18px;
    height: 100%;
    border-radius: 4px;

    @include mq($until: large) {
      min-width: 100%;
      margin-bottom: 30px;
    }

    @include mq($until: extra-large) {
      max-width: 48.5% !important;
    }
  }

  &_treasury {
    @include mq($until: medium) {
      width: 48.5%;
    }

    &_one {
      @include mq($until: medium) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    &_two {
      @include dg_column_style;

      @include mq($from: medium) {
        width: 48.5%;
      }
      
      @include mq($until: medium) {
        width: 100%;
      }
    }

    &_three {
      @include dg_column_style;

      @include mq($from: medium) {
        width: 48.5%;
      }

      @include mq($until: medium) {
        width: 100%;
        margin-top: 30px;
      }
    }

    &_amount {
      font-size: 72px;
      letter-spacing: -0.7px;
      font-weight: 800;
      padding-top: 30px;

      @include mq($until: small) {
        font-size: 60px;
      }
    }
  }

  &_top {
    @include dg_column_style;
    max-width: 48.5%;
    min-width: 48.5%;
    padding: 0 0;
  }

  &_unclaimed {
    @include dg_column_style;
    @include mq($from: large) {
      width: 23%;
      height: 100%;
    }
  
    @include mq($until: large) {
      width: 100%;
    }
  }
}

.more_text {
  margin-top: 27px;
  cursor: pointer;
  color: white;
}

.gameplay_left_column {
  display: flex;
  justify-content: center;
  width: calc(50% + 1px);
  border-right: 1px solid black;
  margin-top: -15px;
  padding-top: 15px;
  margin-bottom: -15px;
}

.gameplay_right_column {
  display: flex;
  justify-content: center;
  width: calc(50% + 1px);
  margin-top: -15px;
  padding-top: 15px;
  margin-bottom: -15px;
}

.liquidity_input {
  padding-top: 6px;
  border-radius: 14px !important;
}

.bpt_text {
  @include welcome_text_style;
  cursor: pointer;
  text-decoration: underline;
  padding: 9px 16px 0px 16px;
  margin-bottom: -9px !important;
}

.dg_tablet_container_gov {
  display: flex;
  justify-content: space-between;
  flex-direction: row !important;
  width: 74.75%;
  height: 100%;

  @include mq($until: large) {
    margin-top: 30px;
    width: 100%;
  }
}

.leaderboard_column {
  min-width: 33.33% !important;
  width: 100%;
}

.mining_container_outter {
  display: flex;
  flex-direction: column;
  width: 74.75%;

  @include mq($until: large) {
    margin-top: 30px;
    width: 100%;
  }
}

.mining_container_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  @include mq($until: medium) {
    flex-direction: column;
  }
}

.outter_games_container {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-between;
  margin-top: -15px;
  margin-bottom: 30px;
}

.nft_description {
  padding: 0px 30px 30px 30px;

  .nft_other_h3 {
    font-family: 'Larsseit-ExtraBold';
    font-weight: 800;
    font-size: 32px;
    line-height: 1.4;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;

    &.featured {
      text-align: center;
    }
  }

  .nft_other_p {
    margin-top: -12px;
    padding-top: 15px;
    text-align: center;
  }

  .nfts_info {
    @include nfts_info_style;

    &_2 {
      @include nfts_info_style;
      margin-left: 12px;
      margin-bottom: 14px;
    }
  }
  
  .nft_button {
    position: relative;
    background-color: #006eff;
    color: white;
    margin-top: 8px;
    width: 48.5%;
    border-radius: 4px;
    height: 36px;
    line-height: 10px;
    font-size: 16px;
  }

  .nft_read_button {
    background-color: transparent;
    border: 1px solid #006eff;
    color: #006eff;
    margin-top: 8px;
    width: 48.5%;
    height: 36px;
    line-height: 8px;
    font-size: 16px;
    border-radius: 4px;
  }
}

.games_pic {
  height: 100%;
  width: 100%;
  max-height: 270px;
  min-height: 270px;
  object-fit: cover;
  border-radius: 4px 4px 0 0;
}

.gameplay_left_column,
.gameplay_right_column {
  &_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 17px;
  }
}

///////////////////////////
// home
///////////////////////////

.binance_video_container video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.home_dashboard {


  &_content {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30vh;
    height: 100vh;
    margin-top: -63px;
  
    @include mq($until: medium) {
      margin-top: -150px !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 100%;
    }
  
    @include mq($until: small) {
      position: relative;
      height: 100vh;
      padding-top: 12vh !important;
      padding-left: 21px !important;
      padding-right: 21px !important;
    }
  }
}

.home_gif {
  @include mq($from: small) {
    display: none;
  }

  @include mq($until: small) {
    margin-top: -200px;
    width: 100%;
    position: relative;
    z-index: -2;
  }
}

.home_dashboard_p {
  &_centered {
    letter-spacing: 0.15px;
    text-shadow: 1px 1px 5px black;
    max-width: 640px;
    padding-top: 30px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 0.9);

    @include mq($until: medium) {
      max-width: 100%;
      text-align: center;
    }
  }

  @include mq($until: small) {
    width: 100vw;
    font-size: 18px;
  }
}

.home_dashboard_main_h1 {
  color: white;
  padding-bottom: 12px;
  text-shadow: 1px 1px 5px black;
  margin: -12px 0 -32px -2px;
  max-width: 600px;

  @include mq($until: medium) {
    max-width: 100%;
    text-align: center;
  }

  @include mq($until: small) {
    font-size: 48px;
    margin-top: -120px;
  }
}

.home_button_span_ecosystem {
  display: flex;
  align-self: center;
}

.play_now_button_demo {
  @include mq($from: small) {
    display: none !important;
  }

  @include mq($until: small) {
    width: 210px;
    position: relative;
    background-color: #006eff;
    color: white;
    margin-top: 8px !important;
    height: 64px;
    line-height: 30px;
    font-size: 20px !important;
    font-weight: 700 !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

.earn_dg_button {
  @include mq($from: small) {
    background-color: #2b2b2b;
    color: white;
    position: relative;
    height: 64px;
    width: 200px;
    line-height: 32px !important;
    font-size: 20px !important;
  }

  @include mq($until: small) {
    display: none !important;
  }
}

.mobile_center_span {
  @include mq($until: small) {
    display: flex;
    justify-content: center;
  }
}

