$color-blue: #006eff;
$color-darkblue: #183863;
$color-lightblue: #165daa;
$color-dark: #1f1f1f;
$color-black: #000000;
$color-lightblack: #2b2b2b;
$color-white: #ffffff;
$color-darkgray: #333;
$color-lightgray: #2f2f2f;
$color-gray: #929597;
$color-lightgreen: #16c784;
$color-lightred: #ea3943;
$color-darkwhite: #edf2f9;
$color-yellow: #f1cd50;
$color-blurryyellow: #ffedae;
