@mixin dg_column_style {
  font-family: 'Lato', sans-serif;
  border-radius: 4px;
  padding: 12px 18px 18px 18px;
  background-color: #1f1f1f;
}

@mixin welcome_text_style {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: rgb(92, 95, 97) !important;
  text-transform: uppercase;
}

@mixin governance_block_style {
  margin-left: -18px;
  padding-left: 15px;
  margin-top: -14px;
  padding-top: 16px;
  margin-bottom: -14px;
  padding-bottom: 16px;
}