@import 'styles/base.scss';

.home_dashboard {
  .image_span {
    .section_h1 {
      font-size: 48px;
      font-family: Larsseit-Bold;
      margin: 0;
      padding: 0;
    }

    .section_p {
      font-size: 24px;
      font-family: Larsseit-Regular;
      color: rgba(255, 255, 255, 0.75);
      padding-top: 16px;
      padding-bottom: 24px;
      margin: 0;
      max-width: 420px;
    }

    .grey_button {
      background: #2b2b2b;
      color: white;
      height: 48px;
      padding: 12px 26px 12px 26px;
      line-height: 24px;
      border-radius: 12px;
      font-size: 18px;
      font-family: Larsseit-Bold;
      margin-right: 16px;
    }

    .blue_button {
      background: #006eff;
      color: white;
      height: 48px;
      padding: 12px 26px 12px 26px;
      line-height: 24px;
      border-radius: 12px;
      font-size: 18px;
      font-family: Larsseit-Bold;
    }

    .image {
      margin-top: -100px;
    }
  }

  .video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

    @include mq($until: small) {
      display: none;
    }
  }

  .home_dashboard_content {
    position: relative;
    padding-top: 24vh;
    height: 100vh;

    @include mq($until: medium) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 100%;
    }

    h1 {
      color: white;
      text-shadow: 1px 1px 5px black;
      max-width: 600px;

      @include mq($until: large) {
        max-width: 100%;
        text-align: center;
      }
    }

    p.content {
      color: rgba(255, 255, 255, 0.9);
      letter-spacing: 0.15px;
      text-shadow: 1px 1px 5px black;
      max-width: 640px;
      padding-top: 0;
      padding-bottom: 0px;
      margin-bottom: 16px;
    }

    .button_group {
      display: flex;
      justify-content: start;
      margin-top: 24px;

      .earn_dg_button {
        background-color: #2b2b2b;
        color: white;
        position: relative;
        height: 64px;
        width: 200px;
        line-height: 32px;
        font-size: 20px;
        margin-right: 0;
      }

      .play_button {
        position: relative;
        background-color: #006eff;
        color: white;
        height: 64px;
        width: 200px;
        line-height: 32px;
        font-size: 20px;
        margin-left: 16px;
      }
    }
  }
}
