@import "styles/base.scss";

.content_balancer_container {
  .dg_tablet_container {
    @include mq($until: medium) {
      display: flex;
      justify-content: space-between;
      flex-direction: row !important;
      width: 74.75%;
      height: 100%;
    }
  
    position: relative;
  
    .dg_amount_mana {
      display: flex;
      justify-content: space-between;
    }
  }
  
  .dg_column_top_dg_title {
    display: flex;
    flex-direction: column;
  
    &_link {
      color: #2085f4;
    }
  }
  
  .account_name {
    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.25px;
    padding-left: 15px;
    font-weight: bold;
  
    @include mq($until: small) {
      font-size: 28px;
      padding-left: 15px;
    }
  }
  
  .farming_pool_span_detail {
    display: flex;
  }
  
  .loader1 {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 2px;
  }
  
  .loader2 {
    font-size: 12px;
    margin-top: 5px;
    margin-left: -1px;
    margin-bottom: -3px;
  }
  
  .dg_content_balancer_title {
    margin-top: -75px;
    margin-right: 0px;
  }

  .dg_flex_space_between {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}