@import "styles/base.scss";
.modal_title {
  padding-left: 8px;
  margin-top: -4px;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 0px;
}

.account_copy {
  margin-bottom: 12px;
}

.account_button {
  padding-right: 16px !important;
  padding-left: 16px !important;
  height: 48px !important;
  background-color: #1f1f1f !important;
  border-radius: 16px !important;
  color: white !important;
  margin-right: 16px !important;
  font-size: 18px !important;
}

.account_address {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5) !important;
  padding-left: 8px;
  margin-top: -4px !important;
  transition: all linear 0.1s;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.casino_balance_button {
  width: 300px;
  height: 54px;
  border-radius: 12px !important;
  color: white !important;
  border: 2px solid rgba(255, 255, 255, 0.15) !important;
  background: transparent !important;
  margin-top: 8px !important;
  padding: 12px 24px 12px 24px !important;
  transition: all linear 0.1s !important;

  &:hover {
    border: 2px solid rgba(255, 255, 255, 1);
    transition: all linear 0.1s;
  }
}

.casino_balance_text {
  float: left;
  font-size: 18px;
  line-height: 24px;
  font-family: Larsseit-Bold;

  &_two {
    float: right;
    font-size: 16px;
    font-family: Larsseit-Bold;
  }
}

.account_dropdown_item {
  font-size: 20px;
  font-family: Larsseit-Medium;
  margin: 0;
  padding-top: 16px;
  transition: all linear 0.1s;

  &:hover {
    cursor: pointer;
    opacity: 70%;
    transition: all linear 0.1s;
  }
}

.account_deposit_button {
  height: 54px;
  width: 48.5%;
  border-radius: 12px;
  background: #006eff !important;
  color: white !important;
  font-size: 18px !important;
  padding-top: 17px;
  margin-right: 10px !important;

  &_binanace {
    height: 54px;
    width: 48.5%;
    border-radius: 12px;
    background: #f1cd50;
    color: black;
    font-size: 18px !important;
    padding-top: 17px;
  }
}

.account_withdraw_button {
  height: 54px;
  width: 48.5%;
  border-radius: 12px;
  background: #2b2b2b !important;
  color: white !important;
  font-size: 18px !important;
  padding-top: 17px;
}

.buy_dg_button {
  height: 64px;
  width: 100%;
  border-radius: 12px;
  background: #006eff;
  color: white;
  font-size: 18px;
  margin-top: 24px;
  padding-top: 21px;
}

.copied_toast {
  background-color: #1f1f1f;
  position: fixed;
  bottom: 60px;
  left: calc(50% - 165px);
  width: 330px;
  height: 75px;
  border-radius: 32px;
}

.copied_text {
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-top: 19px;
}

.avatar_picture_binance {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: linear-gradient(
    162deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    #f1cd50 40.1%,
    #f1cd50 100%
  );
}

.avatar_picture_home {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  background: linear-gradient(
    162deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 40%,
    #006eff 40.1%,
    #006eff 100%
  );
}

.popup_wrapper{
  background:rgba(255, 255, 255, 1);
  .link_wrapper {
    display: flex;
    flex-direction: column;
    .acount_dropdown_item {
       font-size: 20px;
       font-family: Larsseit-Medium;
       margin: 0;
       padding-top: 16px;
       transition: all .1s linear;
    }
    .buy_dg_button_binance {
      height: 64px;
      width: 100%;
      border-radius: 12px;
      background: #f1cd50;
      color: black ;
      font-size: 18px ;
      margin-top: 24px ;
      padding-top: 21px;
    }
    .buy_dg_button {
      height: 64px;
      width: 100%;
      border-radius: 12px;
      background: #006eff;
      color: white;
      font-size: 18px;
      margin-top: 24px;
      padding-top: 21px;
    }
  }
}